<?= $header; ?>
<main class="main newsletter-page">
    <div class="main-title">
        <?= $breadcrumb; ?>
        <?= $search; ?>
    </div>
    <div class="main-controls">
        <a href="/acp/" class="btn btn-default"><i class="fas fa-save fa-fw"></i></a>
        <button type="button" class="btn btn-basic btn-goback" title="Back"><i class="fas fa-reply fa-fw"></i></button>
        <a href="" class="btn btn-basic pull-right" title="Refresh"><i class="fas fa-sync-alt fa-fw"></i> Refresh</a>
    </div>
    <div class="main-panel">
        <div class="panel-top">
            <span class="panel-title">Email Editor</span>
        </div>
        <div class="panel-content">
            <div class="custom-content">
                <form action="" method="post" class="form" id="newsletter-form">
                    <div class="row space-bottom-small ck-textarea">
                        <textarea name="message" placeholder="Message" class="row form-control" id="newsletter-editor"></textarea>
                    </div>
                    <div class="row space-bottom-small">
                        <button type="button" class="btn btn-go pull-right" id="newsletter-button"><i class="fas fa-paper-plane fa-fw"></i> Send</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</main>
<?= $footer; ?>