











































/**
 * Custom Content
 */
.page-content {
    float:left;
    width: 100%;
    background-color: #fff;
    color: #777;
    font-family: 'Titillium Web', Arial, Sans-serif;
    font-size: 15px;
    font-weight: 400;
    letter-spacing: normal;
    word-wrap: break-word;
    text-align: left;
}

.page-content hr {
    float: left;
    width: 100%;
    margin: 15px 0;
}

.page-content .cke_textarea_inline {
    position:relative;
    float: left;
    min-height:500px;
    width: 100%;
    border: 1px dashed #ddd;
}

.cke_textarea_inline .drag {
    position: absolute;
}

.page-content .gallery {
    width: 100%;
}

.page-content .gallery img {
    max-width: 175px;
    margin: 0 15px 0 0;
}

.page-content .slideshow {
    max-height: 363px;
    overflow: hidden;
}

.page-content .slideshow p {
    max-height: 363px;
    overflow: hidden;
}

.page-content .slideshow img {
    width: 100%;
    max-width: 100%;
}

.page-editor {
    position:absolute;
    top:680px;
    left:0;
    right:0;
    z-index:1000;
    -webkit-transition: all .3s ease-in-out;
    -ms-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out
}

.page-editor.pe-up {
    top:/*0*/;
}

.btn-page-up {
    color:#fff;
}

.page-editor-btns {
    background-color:#fff;
    padding:40px 0 41px 0;
}

.greeting-image {
    float:left;
    width:100%;
    height:500px;
    background: url(../../../application/storage/uploads/pages/412538_slide4.jpg) 50% 50% no-repeat;
    background-size:1920px 500px;
}