@charset 'UTF-8';
@import url('dropzone.css');
@import url('filebrowser.css');

html.pliant-html {
    height: 100%
}

.pliant {
    display: none;
    background-color: #fff;
    font-family: 'Titillium Web', Arial, Courier, Times, Helvetica, Verdana, Sans-serif;
    font-size: 15px;
    font-weight: 400;
    letter-spacing: 1px;
    text-align: center;
}

.pliant.light-theme {
    display: block;
    background-color: #f8f8f8;
    color: #555;
}

.pliant.dark-theme {
    display: block;
    background-color: #2e3034;
    color: #cfd2da;
}

/* Tables */
.p-table {
    float: left;
    width: 100%;
    border: none;
    border-collapse: collapse;
    text-align: left;
}

.p-table input {
    height: auto;
}

.p-table th {
    background-color: transparent;
    cursor: pointer;
    text-align: left
}

.p-table tr {
    border-bottom: 1px solid #ddd;
}

.light-theme tr {
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.light-theme tr:first-child {
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}

.dark-theme tr {
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}

.p-table tr:nth-child(even) {
    background-color: transparent;
}

.p-table tr:nth-child(odd) {
    background-color: transparent;
}

.p-table th, .p-table td {
    border: none;
}

.p-table th {
    padding: 5px 5px 0 5px;
}

.p-table td {
    height: auto;
    padding: 5px 5px;
}

.p-table th, .p-table td {
    white-space: nowrap;
}

.p-table tfoot {
    display: none
}

/* Text */
.pliant a.pli, .pliant a.pli:visited {
    text-decoration: none;
}

.pliant.light-theme a.pli, .pliant.light-theme a.pli:visited {
    color: #2777c9;
}

.pliant.light-theme a.pli:hover, .pliant.light-theme a.pli:focus, .pliant.light-theme a.pli:active {
    color: #999;
}

.pliant.dark-theme a.pli, .pliant.dark-theme a.pli:visited {
    color: #3498db;
}

.pliant.dark-theme a.pli:hover, .pliant.dark-theme a.pli:focus, .pliant.dark-theme a.pli:active {
    color: #999;
}

ul, ol {
    list-style: outside
}

ul.list-unstyled, ol.list-unstyled {
    list-style: none
}

ul.list-style-inside, ol.list-style-inside {
    list-style: inside
}

ul.list-style-check, ol.list-style-check {
    list-style: none
}

h1.pli, h2.pli, h3.pli, h4.pli, h5.pli, h6.pli {
    font-family: inherit;
    font-weight: inherit
}

.p-heading-small {
    font-size: 21px;
    line-height: 21px;
}

.p-heading-medium {
    font-size: 28px;
    line-height: 28px;
}

.p-heading-large {
    font-size: 36px;
    line-height: 36px;
}

.p-text-small {
    font-size: 12px;
    line-height: 18px;
}

.p-text-medium {
    font-size: 18px;
    line-height: 18px;
}

.p-text-large {
    font-size: 24px;
    line-height: 24px;
}

.p-text-center {
    text-align: center
}

.p-text-black {
    color: #777
}

.p-text-white {
    color: #ffffff
}

.p-text-green {
    color: #32ce32;
}

.p-text-red {
    color: #ff6d6d;
}

/* Background Colors */
.p-bkg-black {
    background-color: #777
}

.p-bkg-white {
    background-color: #ffffff
}

.p-bkg-beige {
    background-color: #F5F5DC
}

.p-bkg-grey {
    background-color: #d6d6d6
}

/* Wrappers, Main */
.p-main {
    position: relative;
    display: inline-block;
    width: 1366px;
    min-height: 500px;
    margin: 50px auto 20px auto;
    text-align: left;
}

/* Wrapper width should match front end wrapper width */
.p-wrapper {
    position: relative;
    width: 1000px;
    margin: auto;
}

.p-col {
    position: relative;
    float: left;
}

.p-col.dual {
    width: 49%;
    margin: 0 2% 0 0
}

.p-col.dual:nth-child(2n+2) {
    margin: 0
}

.p-col.triple {
    width: 30.33%;
    margin: 0 4.5% 0 0
}

.p-col.triple:nth-child(3n+3) {
    margin: 0
}

.p-col.quad {
    width: 24%;
    margin: 0 1.33% 0 0
}

.p-col.quad:nth-child(4n+4) {
    margin: 0
}

.p-col.penta {
    width: 19%;
    margin: 0 1.25% 0 0
}

.p-col.penta:nth-child(5n+5) {
    margin: 0
}

.p-col.hexa {
    width: 16%;
    margin: 0 0.8% 0 0
}

.p-col.hexa:nth-child(6n+6) {
    margin: 0
}

.p-pad-small {
    padding: 10px;
}

.p-pad-medium {
    padding: 30px;
}

.p-pad-large {
    padding: 60px;
}

.p-pad-top-small {
    padding-top: 10px;
}

.p-pad-bottom-small {
    padding-bottom: 10px;
}

.p-pad-top-medium {
    padding-top: 30px;
}

.p-pad-bottom-medium {
    padding-bottom: 30px;
}

.p-pad-top-large {
    padding-top: 60px
}

.p-pad-bottom-large {
    padding-bottom: 60px
}

.p-space-top-small {
    margin-top: 10px
}

.p-space-bottom-small {
    margin-bottom: 10px
}

.p-space-top-medium {
    margin-top: 30px
}

.p-space-bottom-medium {
    margin-bottom: 30px
}

.p-space-top-large {
    margin-top: 60px
}

.p-space-bottom-large {
    margin-bottom: 60px
}

.p-pad-left-small {
    padding-left: 10px
}

.p-pad-right-small {
    padding-right: 10px
}

.p-pad-left-medium {
    padding-left: 30px
}

.p-pad-right-medium {
    padding-right: 30px
}

.p-pad-left-large {
    padding-left: 60px
}

.p-pad-right-large {
    padding-right: 60px
}

.p-space-left-small {
    margin-left: 10px
}

.p-space-right-small {
    margin-right: 10px
}

.p-space-left-medium {
    margin-left: 30px
}

.p-space-right-medium {
    margin-right: 30px
}

.p-space-left-large {
    margin-left: 60px
}

.p-space-right-large {
    margin-right: 60px
}

.pull-right {
    float: right !important
}

.pull-left {
    float: left !important
}

/* Horizontal Rule */
hr {
    border: none;
    border-top: 1px solid #8c8b8b;
}

hr.clear {
    border-top: none;
    border-bottom: none
}

hr.basic {
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    border-bottom: 1px solid rgba(255, 255, 255, 0.3)
}

hr.fade {
    border: 0;
    height: 1px;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0));
}

hr.curly {
    height: 30px;
    border-style: solid;
    border-color: black;
    border-width: 1px 0 0 0;
    border-radius: 20px;
}

hr.curly:before {
    display: block;
    content: '';
    height: 30px;
    margin-top: -31px;
    border-style: solid;
    border-color: black;
    border-width: 0 0 1px 0;
    border-radius: 20px;
}

hr.glyph {
    padding: 0;
    border: none;
    border-top: medium double #333;
    color: #333;
    text-align: center;
}

hr.glyph:after {
    content: "\f1b0";
    display: inline-block;
    position: relative;
    top: -0.7em;
    font-size: 1.5em;
    padding: 0 0.25em;
    background: white;
    font-family: 'Font Awesome 5 Free';
}

hr.dual {
    border-top: 3px double #8c8b8b;
}

hr.dual-sizable:after {
    content: '';
    display: block;
    margin-top: 6px;
    border-top: 1px solid #8c8b8b;
    border-bottom: 1px solid #fff;
}

hr.dashed {
    border-top: 1px dashed #8c8b8b;
}

hr.dashed-line {
    border: 0;
    border-bottom: 1px dashed #ccc;
    background: #999;
}

hr.dotted {
    border-top: 1px dotted #8c8b8b;
}

/* Search */
.p-search {
    position: relative;
    float: right;
}

@media only screen and (max-width:414px) {
    .p-search {
        display: none;
    }

}

.p-search-icon {
    position: absolute;
    left: 0;
    width: 40px;
    height: 35px;
    color: #ddd;
    font-size: 13px;
    text-align: center;
    line-height: 35px;
}

.p-search input {
    float: left;
    width: 450px;
    height: 35px;
    padding: 0 15px 0 40px;
    border-radius: 5px;
    font-size: 13px;
}

.p-search-results {
    display: none;
    position: absolute;
    top: 100%;
    z-index: 200;
    clear: both;
    width: 550px;
    padding: 5px 10px;
    background-color: #fff;
    border: 1px solid #ddd;
}

.p-search-results ul {
    list-style: none;
}

.p-search-results em {
    float: left;
    width: 100%;
    font-style: normal;
    font-weight: 600;
}

.p-search-header {
    font-size: 24px
}

.found-user, .found-user:visited {
    padding: 15px;
    margin: 0 0 20px 0;
    border-radius: 10px;
    background-color: rgba(238, 238, 238, 1);
    box-shadow: 0 0 2px 1px rgba(0, 0, 0, 0.3);
    color: #777
}

.found-user-right {
    float: left;
    width: 80%;
    padding-left: 10px;
    border-left: 1px solid #ddd
}

.found-user-left img {
    float: left;
    width: 100%
}

.found-user-left {
    float: left;
    width: 20%
}

.found-user-left p {
    float: left;
    font-size: 18px
}

/* Buttons */
button {
    background-color: transparent;
    border: none;
    cursor: pointer;
    font-family: 'Titillium Web';
    font-size: inherit;
    font-weight: inherit;
    -webkit-appearance: none;
}

.p-btn.disabled {
    opacity: 0.5;
    cursor: not-allowed
}

.p-btn {
    display: inline-block;
    height: 30px;
    padding: 0 10px;
    margin-bottom: -2px;
    border: none;
    border-radius: 5px;
    font-family: 'Titillium Web';
    font-size: 13px;
    font-weight: inherit;
    text-align: center;
    line-height: 28px;
    -webkit-appearance: none;
    -webkit-transition: all .3s ease-in-out;
    -ms-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out
}

.p-btn i {
    height: inherit;
    line-height: 25px;
    letter-spacing: initial;
}

.p-btn:focus, .p-btn:active {
    outline: none
}

.p-btn::-moz-focus-inner {
    border: 0
}

.p-btn-default, .p-btn-default:visited {
    background-color: #2777c9;
    color: rgba(255, 255, 255, 1) !important
}

.light-theme .p-btn-default {
    box-shadow: inset 0 0 1px 1px #6f95be;
    border: 1px solid #2671bd;
}

.dark-theme .p-btn-default {
    box-shadow: inset 0 0 1px 1px #1460ad;
    border: 1px solid rgba(255, 255, 255, 0.3);
}

.p-btn-default:hover {
    background-color: #1e5fa1;
    color: rgba(255, 255, 255, 1)
}

.p-btn-default:active {
    box-shadow: inset 0 0 0 1px #727272, inset 0 2px 7px #505050
}

.p-btn-go, .p-btn-go:visited {
    background-color: #5eb24a;
    border: 1px solid rgba(56, 142, 35, 0.3);
    box-shadow: inset 0 0 1px 1px #7dc86b;
    color: rgba(255, 255, 255, 1) !important
}

.p-btn-go:hover {
    background-color: #58c83d;
    color: rgba(255, 255, 255, 1)
}

.p-btn-go:active {
    box-shadow: inset 0 0 0 1px #727272, inset 0 2px 7px #505050
}

.p-btn-stop, .p-btn-stop:visited {
    background-color: #e75858;
    border: 1px solid #c04d4d;
    box-shadow: inset 0 0 1px 1px #f78686;
    color: rgba(255, 255, 255, 1) !important
}

.p-btn-stop:hover {
    background-color: #d33838;
    color: rgba(255, 255, 255, 1)
}

.p-btn-stop:active {
    box-shadow: inset 0 0 0 1px #727272, inset 0 2px 7px #505050
}

.p-btn-basic, .p-btn-basic:visited {
    background-color: #e5e5e5;
    border: 1px solid #bfbfbf;
    box-shadow: inset 0 0 1px 1px #fafafa;
    color: #777 !important
}

.p-btn-basic:hover {
    background-color: #fefefe;
    color: #777
}

.p-btn-basic:active {
    box-shadow: inset 0 0 0 1px #727272, inset 0 2px 7px #505050
}

.p-btn-small {
    height: 25px;
    padding: 0 5px;
    font-size: 11px;
    line-height: 22px;
}

.p-btn-small i {
    line-height: 22px;
}

.p-btn.pull-right {
    margin-left: 5px !important;
    margin-right: 0 !important;
}

.p-btn.pull-left {
    margin-right: 5px !important;
    margin-left: 0 !important;
}

/* Forms */
.p-form label {
    display: inline-block;
    margin: 0 0 3px 0;
    font-size: 13px;
    font-weight: 600;
}

.p-form label.required:after {
    margin-left: 3px;
    content: '\f069';
    color: #ff0000;
    font-family: 'Font Awesome 5 Free';
    font-size: 10px
}

.p-form input.pli, .p-form textarea.pli, .p-form select.pli {
    height: 30px;
    padding: 0 15px;
    background-color: #fff;
    border-radius: 5px;
    border: 1px solid #bbb;
    box-shadow: inset 0 0 5px -1px rgba(0, 0, 0, 0.3);
    color: #777;
    font-family: 'Titillium Web';
    font-size: inherit;
    font-weight: inherit;
    line-height: inherit;
    letter-spacing: inherit;
    -webkit-appearance: none;
    -webkit-transition: all .3s ease-in-out;
    -ms-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out
}

.p-form input[type="checkbox"] {
    /*float: left;*/
}

.p-form input[type="submit"] {
    cursor: pointer;
    letter-spacing: inherit
}

.p-form textarea {
    padding: 10px 15px 0 15px;
    min-height: 175px;
    height: auto;
}

.p-form select {
    padding: 0px 9px;
    text-indent: 0px;
}

.p-form .label-col, .p-form .input-col {
    float: left;
    height: 30px;
}

.p-form .label-col label, .p-form .info-col {
    height: 30px;
    line-height: 30px;
    margin: 0;
}

.p-form .info-col {
    float: left;
    margin-left: 50px;
    width: 40px;
    overflow: hidden;
}

.p-form .info-col:hover {
    width: auto;
}

.p-form .show-pw {
    position: absolute;
    top: 50%;
    right: 10px;
    margin: -14px 0 0 0;
    z-index: 100;
    color: #777;
    font-size: 18px;
    cursor: pointer
}

.red-herring {
    position: absolute;
    width: 0;
    height: 0;
    visibility: hidden;
    overflow: hidden
}

.p-form .fancy-form label {
    position: absolute;
    top: 8px;
    left: 15px;
    z-index: 100;
    display: initial;
    padding: 0;
    color: #bbb;
    -webkit-transition: all .3s ease-in-out;
    -ms-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out
}

.p-form .fancy-form label:hover {
    cursor: text;
}

/* Alerts */
.alert {
    position: relative;
    padding: 10px 70px 10px 10px;
    margin: 0 0 15px 0;
    border-radius: 4px;
    color: #fff;
    font-size: 15px;
    text-align: left
}

.alert.success {
    background-color: #76d769;
}

.alert.error {
    background-color: #ff6868;
}

.alert.warning {
    background-color: #e8d110;
}

.alert.info {
    background-color: #68a8ff;
}

.alert-inline {
    position: absolute;
    float: none;
    top: 125%;
    left: -16px;
    z-index: 100;
    min-width: 100px;
    width: auto;
    padding: 13px 10px;
    background-color: #fff;
    border: 1px solid #777;
    box-shadow: 0 0 2px 1px rgba(0, 0, 0, 0.3);
    text-align: left;
    font-size: 12px
}

.alert-inline {
    border-color: #f15454;
    box-shadow: none;
    color: #f15454
}

.alert-inline::after {
    content: '';
    position: absolute;
    top: -7px;
    left: 9px;
    width: 12px;
    height: 12px;
    background-color: #fff;
    border-top: 1px solid #f15454;
    border-right: 1px solid #f15454;
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg)
}

.alert button {
    position: absolute;
    top: 50%;
    right: 5px;
    height: 18px;
    margin: -9px 0 0 0;
    color: #fff;
    font-size: 18px;
    line-height: 10px;
}

.password-strength {
    position: absolute;
    top: 8px;
    left: 75px;
    visibility: visible;
    font-size: 11px;
    text-align: center
}

/* Loading */
.loading {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1000;
    width: 100%;
    height: 100%;
    text-align: center
}

.light-theme .loading {
    background-color: rgba(255, 255, 255, 0);
}

.dark-theme .loading {
    background-color: rgba(46, 48, 52, 0);
}

.loading-spinner {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 60px;
    height: 60px;
    margin: -30px 0 0 -30px;
    z-index: 1001;
    font-size: 30px;
    line-height: 30px;
    color: #777
}

.loading-spinner img {
    width: 100%
}

/* To-top */
.to-top {
    position: fixed;
    opacity: 0;
    right: 20px;
    bottom: -100px;
    z-index: 999;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background: rgba(0, 0, 0, 0.7);
    cursor: pointer;
    color: #fff;
    text-align: center;
    font-size: 20px;
    line-height: 45px;
    -webkit-transition: all .3s ease-in-out;
    -ms-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out
}

.to-top.visible {
    opacity: 1;
    bottom: 20px;
}

/* Header */
.p-header {
    display: inline-block;
    width: 1366px;
    height: 30px;
    padding-top: 5px;
    margin: auto;
}

/* Logo */
.p-logo, .p-logo:visited {
    float: left;
    height: 30px;
    font-size: 24px;
    line-height: 30px;
}

.light-theme .p-logo, .light-theme .p-logo:visited {
    color: #2777c9;
}

.dark-theme .p-logo, .dark-theme .p-logo:visited {
    color: #3498db;
}

.p-logo:hover, .p-logo:focus, .p-logo:active {
    color: #2777c9;
}

/* Navigation */
.p-nav {
    position: relative;
    float: left;
    width: 65px;
    z-index: 999;
    overflow: hidden;
    -webkit-transition: all .3s ease-in-out;
    -ms-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out
}

.p-nav.p-menu-open {
    width: 220px;
}

.p-main-nav {
    float: left;
    width: 100%;
    list-style: none;
}

.p-main-nav .p-nav-toggle {
    float: left;
    width: 15px;
}

.p-main-nav li {
    position: relative;
    float: left;
    width: 65px;
    -webkit-transition: all .3s ease-in-out;
    -ms-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out
}

.p-menu-open .p-main-nav li {
    width: 220px;
}

.p-main-nav a, .p-main-nav a:visited {
    float: left;
    overflow: hidden;
    width: 100%;
    height: 60px;
    border-radius: 5px;
    color: #2777c9 !important;
    line-height: 60px;    /*-webkit-transition: all .3s ease-in-out;
    -ms-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out*/
}

.light-theme .p-main-nav a:hover, .light-theme .p-main-nav a:focus, .light-theme .p-main-nav a:active {
    background-color: rgba(0, 0, 0, 0.1);
}

.dark-theme .p-main-nav a:hover, .dark-theme .p-main-nav a:focus, .dark-theme .p-main-nav a:active {
    background-color: rgba(255, 255, 255, 0.1);
}

.p-main-nav a.current, .p-main-nav a.current:visited {
    width: 100%;
    margin-right: -5px;
    background-color: #2777c9;
    color: #fff !important;
}

.light-theme .p-main-nav a.current:hover, .light-theme .p-main-nav a.current:focus, .light-theme .p-main-nav a.current:active {
    background-color: #2777c9;
}

.dark-theme .p-main-nav a.current:hover, .dark-theme .p-main-nav a.current:focus, .dark-theme .p-main-nav a.current:active {
    background-color: #2777c9;
}

.light-theme .p-main-nav a.current {
    box-shadow: inset 0 0 1px 1px #6f95be;
    border: 1px solid #2671bd;
}

.dark-theme .p-main-nav a.current {
    box-shadow: inset 0 0 1px 1px #1460ad;
    border: 1px solid rgba(255, 255, 255, 0.5);
}

.p-main-nav a i {
    width: 65px;
    text-align: center;
}

.p-account-nav {
    float: right;
    height: 30px;
    list-style: none;
}

.p-account-nav .p-nav-toggle {
    float: left;
    width: 15px;
}

.p-account-nav li {
    position: relative;
    float: left;
}

.p-account-nav a, .p-account-nav a:visited {
    float: left;
    height: 30px;
    padding: 0 15px;
    line-height: 30px;
    font-size: 13px;
}

.light-theme .p-account-nav a, .light-theme .p-account-nav a:visited {
    color: #2777c9;
}

.dark-theme .p-account-nav a, .dark-theme .p-account-nav a:visited {
    color: #3498db;
}

.p-account-nav a.scrolled {
    height: 30px;
    line-height: 30px;
}

.p-account-nav a:hover, .p-account-nav a:focus, .p-account-nav a:active {
    background-color: #eee;
}

.p-account-nav a.current {
    color: #3498db;
}

.p-account-nav button, .p-account-nav button:visited {
    float: left;
    height: 30px;
    padding: 0 15px;
    color: #2777c9;
    font-size: inherit;
    font-family: inherit;
    line-height: 30px;
}

.light-theme .p-account-nav button, .light-theme .p-account-nav button:visited {
    color: #2777c9;
}

.dark-theme .p-account-nav button, .dark-theme .p-account-nav button:visited {
    color: #3498db;
}

.p-account-nav button:hover, .p-account-nav button:focus, .p-account-nav button:active {
    background-color: #eee;
}

.p-account-nav button.current {
    color: #9c9c9c
}

.nav-toggle {
    margin: 13px 2px 0 0;
    font-family: "Font Awesome 5 Free";
}

.dropdown-menu {
    position: absolute;
    top: 40px;
    right: 0px;
    min-width: 150px;
    overflow: hidden;
    max-height: 0px;
    z-index: 100;
    background-color: #2777c9;
    text-align: center;
    -webkit-transition: all .5s ease-in-out;
    -ms-transition: all .5s ease-in-out;
    transition: all .5s ease-in-out
}

.dropdown-menu.active {
    max-height: 500px
}

.dropdown-menu li {
    width: 100% !important
}

.dropdown-menu a {
    width: 100% !important
}

.p-workarea {
    float: right;
    width: 1280px;
    -webkit-transition: all .3s ease-in-out;
    -ms-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out
}

.p-workarea.p-menu-open {
    width: 1125px;
}

/* Dashboard */
.p-dash-container {
    overflow: hidden;
    box-shadow: 0 0 2px 1px rgba(0, 0, 0, 0.2);
    color: rgba(255, 255, 255, 1);
}

.light-theme .p-dash-container {
    background-color: #3789dd;
}

.dark-theme .p-dash-container {
    background-color: #3484d5;
}

.p-dash-container-title {
    float: left;
    width: 100%;
    padding: 5px 10px 7px 10px;
    font-size: 15px;
}

.light-theme .p-dash-container-title {
    background-color: #2171c3;
}

.dark-theme .p-dash-container-title {
    background-color: #2679cd;
}

.p-dash-container-content {
    float: left;
    width: 108%;
    height: 150px;
    padding: 10px 20px 10px 10px;
    overflow-y: scroll;
}

.p-dash-container-footer {
    float: left;
    width: 100%;
    padding: 3px 5px 5PX 5PX;
    font-size: 13px;
}

.light-theme .p-dash-container-footer {
    background-color: #2777c9;
}

.dark-theme .p-dash-container-footer {
    background-color: #2069b6;
}

.p-dash-container-footer a, .p-dash-container-footer a:visited {
    float: right;
    color: #fff;
}

.p-dash-container-content span, .p-dash-container-content p {
    float: left;
    line-height: 21px;
}

.p-dash-container-content span {
    margin: 0 5px 0 0;
}

.p-dash-container-content p {
    color: #fff;
}

.p-dash-container-content a, .p-dash-container-content a:visited {
    color: #fff;
    text-decoration: underline;
}

/* Panels */
.p-main-panel {
    float: left;
    width: 100%;
    margin-bottom: 15px;
}

.p-main-title {
    float: left;
    width: 100%;
}

.p-breadcrumb {
    float: left;
    margin-top: 7px;
}

.p-breadcrumb hr {
    display: inline-block;
    width: 5px;
    height: 5px;
    margin: 0 10px 0 10px;
    border-top: none;
    border-bottom: 1px solid #ccc;
    border-left: none;
    border-right: 1px solid #ccc;
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg)
}

.p-breadcrumb hr:first-child {
    display: none;
}

.p-breadcrumb a {
    display: inline-block;
    vertical-align: middle;
    margin-top: 2px;
    font-size: 15px;
    line-height: 15px;
}

.p-breadcrumb a:nth-child(2) {
    display: inline-block;
    font-size: 28px;
    line-height: 28px;
}

.p-main-controls {
    float: left;
    width: 100%;
    padding: 5px 5px 6px 5px;
    margin: 10px 0;
}

.light-theme .p-main-controls {
    background-color: #f1f1f1;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.dark-theme .p-main-controls {
    background-color: #3f4145;
    border-top: 1px solid rgba(255, 255, 255, 0.3);
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}

.p-main-controls .p-btn {
    float: left;
    margin-right: 5px;
}

.p-main-controls select {
    height: 30px;
}

.p-panel-title {
    float: left;
    width: 100%;
    padding: 5px 10px;
}

.light-theme .p-panel-title {
    background-color: #808080;
    color: #fff;
}

.dark-theme .p-panel-title {
    background-color: #2679cd;
}

.p-panel-title a, .p-panel-title a:visited {
    color: #fff;
}

.p-panel-title a:hover {
    text-decoration: underline;
}

.panel-content {
    float: left;
    width: 100%;
    text-align: center;
}

.panel-footer {
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    padding: 3px 5px 5PX 5PX;
}

.panel-form {
    float: left;
    width: 100%;
    padding: 10px;
    border-radius: 4px;
    border: 1px solid #d6d6d6;
    background-color: #eee;
}

.check-col, .number-col {
    width: 35px;
    text-align: center;
}

.log {
    float: left;
    width: 100%;
    margin: 0 0 10px 0;
    border: 1px solid #ccc;
    padding: 20px;
    background-color: #fff;
    box-shadow: inset 0px 0px 5px 0px rgba(0, 0, 0, 0.2);
}

#scrollarea {
    overflow-y: scroll;
    float: left;
    width: 100%;
    height: 400px;
}

/* Home */
.p-dash-btns .left, .p-dash-btns .right {
    min-height: 20px;
}

.p-dash-btns .left {
    float: right;
    width: 400px;
}

.p-dash-btns .right {
    float: right;
    width: 190px;
}

.log-response .alert {
    margin: 0;
    float: right;
    max-width: 330px;
    padding: 4px 30px 4px 10px;
}

.home-page iframe {
    visibility: hidden;
}

/* User */
.account {
    width: 39%;
    margin-right: 1%;
    font-size: 16px;
}

.account-controls {
    float: left;
    width: 50px;
    margin: 0 0 0 15px;
}

.account-controls .p-btn {
    margin: 0 0 5px 0;
}

.account-info {
    padding: 15px 0;
    border-bottom: 1px solid rgba(221, 221, 221, 1);
}

.account-avatar {
    float: left;
    width: 100px;
    height: 100px;
    margin: 0 20px 0 0;
}

.account-avatar img {
    width: 100%;
}

.account span {
    float: left;
}

.account p {
    float: right;
}

/* Sitemap */
#sitemap-form .input {
    width: 60px;
    text-align: center;
    padding: 0px;
    height: 25px;
}

/* Analytics */
.analytics-input {
    height: 300px;
}

/* Settings */
.settings-area {
    float: left;
    width: 100%;
    margin-bottom: 50px;
}

.settings strong {
    font-size: 28px;
}

#settings-form {
    text-align: left;
}

.settings-row {
    padding: 10px;
    border-top: 1px solid #ddd;
}

.settings-col-left {
    float: left;
    width: 16%;
}

.settings-col-right {
    float: left;
    width: 84%;
}

/* Pagination */
.p-pagination {
    float: left;
    height: 30px;
    background-color: #f6f6f6;
    border: 1px solid #d9d9d9;
    border-radius: 5px;
    box-shadow: inset 0 0 1px 0 #fafafa;
    color: #777;
    font-family: 'Titillium Web';
    font-size: 13px;
    font-weight: inherit;
    text-align: center;
    line-height: 30px;
    -webkit-appearance: none;
    -webkit-transition: all .3s ease-in-out;
    -ms-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out
}

.p-pagination i {
    height: inherit;
    line-height: 30px;
}

.p-pagination a {
    float: left;
    padding: 0 10px;
    overflow: hidden;
}

.p-pagination .divider {
    float: left;
    width: 1px;
    height: 28px;
    border: none;
    background-color: #d9d9d9;
}

.p-pagination button {
    float: left;
    padding: 0 10px;
    color: #3498db;
}

.list-page {
}

.list-page .action:hover {
    cursor: initial;
}

.new-page .label-col {
    width: 10%;
}

.new-page .input-col {
    width: 90%;
}

.new-page td {
    border: 1px solid #ccc;
}

.newsletter-list {
    max-height: 0px;
    overflow: hidden;
}

.newsletter-list.open {
    max-height: 500px;
}

.newsletter-editor {
    max-height: 0px;
    overflow: hidden;
}

.newsletter-editor.open {
    max-height: 500px;
}

/*#newsletter-form .ck-textarea {
max-height: 0px;
overflow: hidden;
-webkit-transition: all .5s ease-in-out;
-ms-transition: all .5s ease-in-out;
transition: all .5s ease-in-out;
}

#newsletter-form .ck-textarea.open {
max-height: 800px;
}*/
.p-btn-clear {
    margin: 0 !important;
}

.border {
    border: 1px solid #ddd;
}
