<?= $header; ?>
<main class="p-main analytics-page">
    <?= $nav; ?>
    <div class="p-workarea p-menu-open">
        <div class="p-main-title">
            <?= $breadcrumb; ?>
            <?= $search; ?>
        </div>
        <div class="p-main-controls">
            <button type="button" class="p-btn p-btn-go btn-analytics"><i class="fas fa-save fa-fw"></i> Save</button>
            <a href="/acp/" class="p-btn p-btn-basic pull-right" title="Close"><i class="fas fa-times fa-fw"></i></a>
            <a href="" class="p-btn p-btn-basic pull-right" title="Refresh"><i class="fas fa-sync-alt fa-fw"></i></a>
        </div>
        <div class="p-main-panel">
            <div class="p-panel-content">
                <form action="" method="post" id="analytics-form" class="p-form row">
                    <div class="p-col dual space-bottom-small">
                        <label for="code">Google Analytics:</label>
                        <textarea name="code" placeholder="Paste analytics code here" id="code" class="row pli"><?= $analytics_code; ?></textarea>
                    </div>
                </form>
            </div>
        </div>
    </div>
</main>
<script type="text/javascript">

$('.btn-analytics').click(function() {
    $.ajax({
        url: '/acp/analytics/validate',
        type: 'post',
        data: $('.form').serialize(),
        beforeSend: function() {
            $('#analytics-form').append(Common.showLoader('/application/storage/images/loading.svg'));
        },
        success: function(data) {
            if (typeof(data) !== 'undefined') {
                $('.loading').remove();
                $('.btn-goback').after(response);
            } 
        }
    });
});
$('#analytics-form').keypress(function(e) {
    if (e.which == 13) {
        $('.btn-analytics').click();
    }
});

</script>
<?= $footer; ?>