<?= $header; ?>
<main class="p-main users-user-page">
    <?= $nav; ?>
    <div class="p-workarea p-menu-open">
        <div class="p-main-title">
            <?= $breadcrumb; ?>
            <?= $search; ?>
        </div>
        <div class="p-main-controls">
            <form id="actions">
                <input type="hidden" name="user_id" value="<?= $id; ?>" id="user_id">
                <input type="hidden" name="action" value="" id="action">
            </form>
            <button type="button" class="p-btn p-btn-default btn-promote" title="Promote"><i class="fas fa-arrow-up fa-fw"></i> Promote</button>
            <button type="button" class="p-btn p-btn-default btn-demote" title="Demote"><i class="fas fa-arrow-down fa-fw"></i> Demote</button>
            <button type="button" class="p-btn p-btn-stop btn-lock" title="Lock"><i class="fas fa-lock fa-fw"></i> Lock</button>
            <button type="button" class="p-btn p-btn-go btn-unlock" title="Unlock"><i class="fas fa-unlock fa-fw"></i> Unlock</button>
            <a href="/acp/" class="p-btn p-btn-basic pull-right" title="Close"><i class="fas fa-times fa-fw fa-fw"></i></a>
            <a href="/acp/users/" class="p-btn p-btn-basic pull-right" title="Back"><i class="fas fa-reply fa-fw fa-fw"></i></a>
            <a href="" class="p-btn p-btn-basic pull-right" title="Refresh"><i class="fas fa-sync-alt fa-fw fa-fw"></i></a>
        </div>
        <div class="row alert-area"></div>
        <div class="p-main-panel">
            <span class="pull-left p-panel-title">User: <a href="/profile/<?= $username; ?>"><?= $username; ?></a></span>
            <div class="p-panel-content">
                <div class="p-col account">
                    <div class="row account-info">
                        <div class="account-avatar">
                            <img src="/application/storage/uploads/account/<?= $avatar; ?>" alt="Account Avatar">
                        </div>
                        <span class="pull-left heading-medium"><?= $username; ?></span>
                    </div>
                    <div class="row account-info">
                        <span>Group:</span> <p class="group"><?= $group; ?></p>
                    </div>
                    <div class="row account-info">
                        <span>Joined:</span> <p><?= $registered; ?></p>
                    </div>
                    <div class="row account-info">
                        <span>Name:</span> <p><?= $firstname; ?> <?= $lastname; ?></p>
                    </div>
                    <div class="row account-info">
                        <span>Email:</span> <p><?= $email; ?></p>
                    </div>
                    <div class="row account-info">
                        <span>Privacy:</span> <p><?= $privacy; ?></p>
                    </div>
                    <div class="row account-info">
                        <span>Bio:</span> <p><?= $bio; ?></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>
<script type="text/javascript">

$(document).on('click', '.btn-promote', function() {
    var btn = $(this);
    var btnhtml = btn.html();
    $('#action').val('promote');
    $.ajax({
        url: '/acp/users/edit_user',
        type: 'post',
        data: $('#actions').serialize(),
        success: function(response) {
            btn.removeClass('disabled').html(btnhtml);
            if (typeof(response) !== 'undefined') {
                var data = JSON.parse(response);
                $('.group').text(data.group);
                $('.alert-area').append(data.alert);
            } else {

            }
        }
    });
});

$(document).on('click', '.btn-demote', function() {
    var btn = $(this);
    var btnhtml = btn.html();
    $('#action').val('demote');
    $.ajax({
        url: '/acp/users/edit_user',
        type: 'post',
        data: $('#actions').serialize(),
        success: function(response) {
            btn.removeClass('disabled').html(btnhtml);
            if (typeof(response) !== 'undefined') {
                var data = JSON.parse(response);
                $('.group').text(data.group);
                $('.alert-area').append(data.alert);
            } 
        }
    });
});

$(document).on('click', '.btn-lock', function() {
    var btn = $(this);
    var btnhtml = btn.html();
    $('#action').val('lock');
    $.ajax({
        url: '/acp/users/edit_user',
        type: 'post',
        data: $('#actions').serialize(),
        success: function(response) {
            btn.removeClass('disabled').html(btnhtml);
            if (typeof(response) !== 'undefined') {
                var data = JSON.parse(response);
                $('.group').text(data.group);
                $('.alert-area').append(data.alert);
            } 
        }
    });
});

$(document).on('click', '.btn-unlock', function() {
    var btn = $(this);
    var btnhtml = btn.html();
    $('#action').val('unlock');
    $.ajax({
        url: '/acp/users/edit_user',
        type: 'post',
        data: $('#actions').serialize(),
        success: function(response) {
            btn.removeClass('disabled').html(btnhtml);
            if (typeof(response) !== 'undefined') {
                var data = JSON.parse(response);
                $('.group').text(data.group);
                $('.alert-area').append(data.alert);
            } 
        }
    });
});

</script>
<?= $footer; ?>