<?= $header; ?>
<form enctype="multipart/form-data" id="page-form" class="row p-form">
    <main class="p-main edit-pages-page">
        <?= $nav; ?>
        <div class="p-workarea p-menu-open">
            <div class="p-main-title">
                <?= $breadcrumb; ?>
                <?= $search; ?>
            </div>
            <div class="p-main-controls">
                <button type="button" class="p-btn p-btn-go btn-save-page" title="Save"><i class="fas fa-save fa-fw"></i> Save</button>
                <button type="button" class="p-btn p-btn-default btn-browse" title="Browse"><i class="fas fa-folder-open fa-fw"></i> Browse</button>
                <a href="/<?= $name; ?>" class="p-btn p-btn-default" title="View"><i class="fas fa-eye fa-fw"></i> View</a>
                <a href="/acp/" class="p-btn p-btn-basic pull-right" title="Close"><i class="fas fa-times fa-fw"></i></a>
                <a href="/acp/pages/" class="p-btn p-btn-basic pull-right" title="Back"><i class="fas fa-reply fa-fw"></i></a>
                <a href="" class="p-btn p-btn-basic pull-right" title="Refresh"><i class="fas fa-sync-alt fa-fw"></i></a>
            </div>
            <div class="row alert-area"></div>
            <div class="p-main-panel">
                <div class="row p-pad-top-small p-pad-bottom-medium">
                    <div class="p-col dual">
                        <label>Title:</label><div class="title-characters" style="display:inline-block;"></div>
                        <input type="text" name="title" maxlength="70" id="title" class="pli" value="<?= $title; ?>" style="width:100%">
                        <input type="hidden" name="name" value="<?= $name; ?>" class="pli">
                        (Titles should be about 70 characters for SEO)
                    </div>
                    <div class="p-col dual">
                        <label>Description: </label><div class="description-characters" style="display:inline-block;"></div>
                        <textarea name="description" maxlength="200" id="description" class="pli" style="width:100%"><?= $description; ?></textarea>
                        (Descriptions should be about 160 characters for SEO)
                    </div>
                </div>
            </div>
        </div>
    </main>
    <div class="page-editor">
        <span class="p-panel-title">Page Editor: <?= $title; ?><button type="button" class="btn-page-up pull-right"><i class="fas fa-caret-up fa-fw"></i></button></span>
        <div class="row page-editor-btns">
            <div class="p-wrapper">
                <button type="button" class="p-btn p-btn-go btn-save-page pull-left" title="Save"><i class="fas fa-save fa-fw"></i> Save</button>
                <button type="button" class="p-btn p-btn-default btn-browse pull-left" title="Browse"><i class="fas fa-folder-open fa-fw"></i> Browse</button>
            </div>
        </div>
        <div class="page-content">
            <textarea name="custom_content" id="page-editor">
                <?= $content; ?>
            </textarea>
        </div>
    </div>
</form>
<script type="text/javascript">

var inst = document.getElementById('page-editor');
inst.setAttribute('contenteditable', true);
CKEDITOR.inline('page-editor', { customConfig: '/application/javascript/ckeditor/editableConfig.js' }).on('blur', function(e) { return false; });

$(function() { $('.filebrowser').draggable(); });
$('.p-main').filebrowser({
    dir : '/application/storage/uploads/pages/',
});
$('.filebrowser').on('click', '.filebrowser-file-link', function(e) {
    e.preventDefault();
    var filename = $(this).text();
    inst.insertHtml('<img src="' + localStorage.current_path + filename + '" alt="' + filename + '">');
    $('.slideshow p > img').unwrap();
});

Dropzone.options.dropzone = {
    url: '/acp/pages/upload',
    paramName: 'upload_image', // The name that will be used to transfer the file
    maxFilesize: 1, // MB
    maxFiles: null,
    acceptedFiles: '.jpg, .jpeg, .png, .tif, .tiff, .gif',
    dictDefaultMessage: 'Drop files here',
    resizeWidth:800,
    success: function(file, response) {
        if (typeof(response) !== 'undefined') {
            $('.dz-success-mark').css({'opacity':'1'});
        }
    },
};
    
$('#page-form').on('click', '.btn-save-page', function() {
    for (instance in CKEDITOR.instances) {
        CKEDITOR.instances[instance].updateElement();
    }

    var btn = $(this);
    var btnhtml = btn.html();

    $.ajax({
        url: '/acp/pages/update',
        type: 'POST',
        data: $('#page-form').serialize(),
        success: function(response) {
            btn.removeClass('disabled').html(btnhtml);
            if (typeof(response) !== 'undefined') {
                $('.alert-area').append(response);
            } 
            $('html, body').animate( {
                scrollTop: 0
            }, 300);
        }
    });
});
$('#page-form').keypress(function(e) {
    if (e.which == 13) {
        return false;
    }
});

$('.slideshow p > img').unwrap();

$('#page-form').on('keydown keyup change', '#description', function() {
    var count = $('#description').val().length;
    var val = $('#description').val().replace(/[^A-Za-z0-9.,;' ]/g, '');
    $('#description').val(val);
    $('.description-characters').html('(Characters ' + count + ' | Max:200)');
});

$('#page-form').on('keydown keyup change', '#title', function() {
    var count = $('#title').val().length;
    var val = $('#title').val().replace(/[^A-Za-z0-9.,;' ]/g, '');
    $('#title').val(val);
    $('.title-characters').html('(Characters ' + count + ' | Max:70)');
});

$(document).on('click', '.btn-page-up', function() {
    $('.page-editor').toggleClass('pe-up');
    $('.fas').toggleClass('fa-caret-up').toggleClass('fa-caret-down');
});

</script>
<?= $footer; ?>