    <?php if (isset($logged_user) && $logged_user_group > 1) { ?>
    <div class="to-top"><i class="fas fa-angle-double-up fa-fw"></i></div>
    <footer class="footer">
        <div class="col pad-top-medium pad-bottom-medium">
            <div class="wrapper">
                <h6>Footer</h6>
                <a href="/home">Public Site Area</a>
            </div>
        </div>
    </footer>
    <?php } ?>
</body>
</html>