<?= $header; ?>
<main class="p-main home-page">
    <?= $nav; ?>
    <div class="p-workarea p-menu-open">
        <div class="p-main-title">
            <?= $breadcrumb; ?>
            <?= $search; ?>
        </div>
        <div class="row pad-bottom-small space-top-small">
            <div class="p-col quad p-dash-container">
                <div class="p-dash-container-title">USERS</div>
                <div class="p-dash-container-content">
                    <div class="row"><span>Total Users: <strong><?= $total_users; ?></strong></span></div>
                    <div class="row"><span>Registered: <strong><?= $total_registered; ?>/<?= $total_users; ?></strong></span></div>
                    <div class="row"><span>Moderators: <strong><?= $total_moderators; ?>/<?= $total_users; ?></strong></span></div>
                    <div class="row"><span>Administrators: <strong><?= $total_administrators; ?>/<?= $total_users; ?></strong></span></div>
                    <div class="row"><span>Banned: <strong><?= $total_banned; ?>/<?= $total_users; ?></strong></span></div>
                    <div class="row"><span>Latest Registrant: <strong><a href="/acp/users/<?= $latest_registrant; ?>"><?= $latest_registrant; ?></a></strong></span></div>
                </div>
                <div class="p-dash-container-footer"><a href="/acp/users">View more</a></div>
            </div>
            <div class="p-col quad p-dash-container">
                <div class="p-dash-container-title">PAGES</div>
                <div class="p-dash-container-content">
                    <div class="row"><span>Total Pages: <strong><?= $total_pages; ?></strong></span></div>
                    <div class="row"><span>Most Viewed Page: <strong><a href="<?= $most_viewed_page_route ; ?>"><?= $most_viewed_page_title; ?></a> (<?= $most_viewed_page_views; ?>)</strong></span></div>
                    <div class="row"><span>Total Page Views: <strong><?= $total_page_views; ?></strong></span></div>
                </div>  
                <div class="p-dash-container-footer"><a href="/acp/pages">View more</a></div>
            </div>
            <div class="p-col quad p-dash-container">
                <div class="p-dash-container-title">BLOG</div>
                <div class="p-dash-container-content">
                    <div class="row"><span>Total Posts: <strong><?= $total_posts; ?></strong></span></div>
                    <div class="row"><span>Total Views: <strong><?= $blog_views; ?></strong></span></div>
                    <div class="row"><span>Most Viewed: <strong><a href="<?= $most_viewed_blog_route; ?>"><?= $most_viewed_blog_title; ?></a></strong></span></div>
                    <div class="row"><span>Last Edited: <strong><a href="/acp/blog/edit/<?= $last_edit_id; ?>"><?= $last_edit_title; ?></a> <?= $last_edit_time; ?></strong></span></div>
                    <div class="row"><span>Last Post: <strong><a href="/acp/blog/edit/<?= $last_post_id; ?>"><?= $last_post_title; ?></a> <?= $last_post; ?></strong></span></div>
                </div>
                <div class="p-dash-container-footer"><a href="/acp/blog">View more</a></div>
            </div>
            <div class="p-col quad p-dash-container">
                <div class="p-dash-container-title">NEWSLETTER</div>
                <div class="p-dash-container-content">
                    <div class="row"><span>Total Subscribers: <strong><?= $total_subscriptions; ?></strong></span></div>
                    <div class="row"><span>Registered: <strong><?= $registered_subscribers; ?>/<?= $total_subscriptions; ?></strong></span></div>
                    <div class="row"><span>Un-registered: <strong><?= $unregistered_subscribers; ?>/<?= $total_subscriptions; ?></strong></span></div>
                    <div class="row"><span>Last Subscriber: <strong><?= $latest_subscription; ?></strong></span></div>
                    <div class="row"><span>Last Sent: <strong>last sent date</strong></span></div>
                </div>  
                <div class="p-dash-container-footer"><a href="/acp/newsletter">View more</a></div>
            </div>
        </div>
        <hr class="row space-bottom-small basic">
        <div class="row pad-bottom-small">
            <div class="row space-bottom-small p-dash-btns">
                <div class="right">
                    <a href="/acp/" class="p-btn p-btn-basic pull-right" title="Refresh"><i class="fas fa-sync-alt fa-fw"></i></a>
                    <button type="button" class="p-btn p-btn-default btn-clear pull-right"><i class="fas fa-eraser fa-fw"></i> Clear Log</button>
                </div>
                <div class="left">
                    <div class="log-response"></div>
                </div>
            </div>
            <div class="log">
                <div id="scrollarea">
                    <table class="p-table pull-left log-table">
                        <tr>
                            <th class="number-col">#</th>
                            <th>Time</th>
                            <th>Event</th>
                        </tr>
                        <?php foreach ($logs as $log) : ?>
                        <tr class="log-row">
                            <td class="number-col"><?= $log['id']; ?></td>
                            <td><?= $log['time']; ?></td>
                            <td><?= $log['event']; ?></td>
                        </tr>
                        <?php endforeach ?>  
                    </table>
                </div>
            </div>
        </div>
        <div class="row" style="overflow:hidden;">
            <div id="embed-api-auth-container"></div>
            <div id="chart-container"></div>
            <div id="view-selector-container"></div>
        </div>
    </div>
</main>
<script type="text/javascript">

(function($) {
    $(window).on('load', function() {
        $('#scrollarea').mCustomScrollbar({
            axis: 'y',
            theme: 'minimal-dark',
            scrollbarPosition: 'outside'
        });
    });
})(jQuery);
    
$('.main').on('click', '.btn-clear', function() {
    if (confirm('Are you sure you want to clear the logs?')) {
        $.ajax({
            url: '/acp/home/clearLog',
            type: 'POST',
            data: { clear:true },
            beforeSend: function() {
                $('.main').append(Common.showLoader('/application/storage/images/loading.svg'));
                $('.alert').remove();
            },
            success: function(response) {
                if (typeof(response) !== 'undefined') {
                    $('.alert').remove();
                    $('.loading').remove();
                    $('.log-response').html(response);
                    $('.log-row').html('');
                } 
            }
        });
    } 
});

</script>
<!-- <script type="text/javascript">

(function(w,d,s,g,js,fs){
    g=w.gapi||(w.gapi={});g.analytics={q:[],ready:function(f){this.q.push(f);}};
    js=d.createElement(s);fs=d.getElementsByTagName(s)[0];
    js.src='https://apis.google.com/js/platform.js';
    fs.parentNode.insertBefore(js,fs);js.onload=function(){g.load('analytics');};
}(window,document,'script'));

gapi.analytics.ready(function() {

  gapi.analytics.auth.authorize({
    container: 'embed-api-auth-container',
    clientid: '531932355418-0o0iv8ef73d6ctjgguu95lprackv4sr4.apps.googleusercontent.com'
  });


  var viewSelector = new gapi.analytics.ViewSelector({
    container: 'view-selector-container'
  });

  // Render the view selector to the page.
  viewSelector.execute();


    var dataChart = new gapi.analytics.googleCharts.DataChart({
        query: {
            metrics: 'ga:sessions',
            dimensions: 'ga:date',
            'start-date': '30daysAgo',
            'end-date': 'yesterday'
        },
        chart: {
            container: 'chart-container',
            type: 'LINE',
            options: {
                width: '100%'
            }
        }
    });

    viewSelector.on('change', function(ids) {
        dataChart.set({query: {ids: ids}}).execute();
    });

});
</script> -->
<?= $footer; ?>