<?= $header; ?>
<main class="p-main list-page">
    <?= $nav; ?>
    <div class="p-workarea p-menu-open">
        <div class="p-main-title">
            <?= $breadcrumb; ?>
            <?= $search; ?>
        </div>
        <div class="p-main-controls">
            <?= $controls; ?>
        </div>
        <div class="row alert-area"></div>
        <div class="p-main-panel">
            <div class="p-panel-content">
                <?= $list; ?>
            </div>
        </div>
        <div class="p-list-controls p-form">
            <label>Limit</label>
            <select class="pli limit-per-page">
                <option value="5">5</option>
                <option value="10">10</option>
                <option value="15">15</option>
                <option value="20">20</option>
                <option value="25">25</option>
                <option value="50">50</option>
                <option value="100">100</option>
            </select>
        </div>
    </div>
</main>
<script type="text/javascript">

var url = window.location.pathname.split('/');
var acp = url[1];
var view = url[2];
var list = url[3];
var orderby = url[4];
var direction = url[5];
var page = url[6];
var limit = url[7];
var page_total = url[8];

if (page_total === 'na') {
    $('.p-pagination').remove();
} else {
    $('.p-list-controls').after('<div class="p-pagination p-space-top-small"></div>');
}

// Choose max records to show per page.
$('.limit-per-page').on('change', function() {
    $('.limit-per-page option').each(function() {
        if ($(this).is(':selected')) {
            window.location.replace('/' + acp + '/' + view + '/' + list + '/' + orderby + '/' + direction + '/' + page + '/' + $(this).val());
        }
    });
});

// Sort by type.
$('.btn-sort').on('click', this, function() {
    orderby = $(this).text().toLowerCase().replace(/ /g, '_');
    if (direction === 'asc') {
        direction = 'desc';
    } else {
        direction = 'asc';
    }
    if ($(this).text() === '#') {
        orderby = 'id';
    }
    window.location.replace('/' + acp + '/' + view + '/' + list + '/' + orderby + '/' + direction + '/' + page + '/' + limit + '/' + page_total);
});

// Set selected limit in selection list.
$('.limit-per-page option').each(function() {
    if ($(this).val() == url[7]) {
        $(this).attr('selected', 'selected');
    }
    if ($(this).is(':selected')) {
        $(this).attr('selected', 'selected');
    } else {
        $(this).removeAttr('selected');
    }
});

// Add previous button if page is not first page.
if (page != 1) {
    $('.p-pagination').prepend('<button class="btn-prev"><i class="fas fa-caret-left fa-fw"></i></button><hr class="divider">');
}

// Add page links with page numbers.
for (var i = 1; i <= page_total; i++) {
    $('.p-pagination').append('<a href="/acp/' + view + '/list/' + orderby + '/' + direction + '/' + i + '/' + limit + '">' + i + '</a><hr class="divider">');
}

// Add next button if page is not last page.
if (page != page_total) {
    $('.p-pagination').append('<button class="btn-next"><i class="fas fa-caret-right fa-fw"></i></button>');
}

// Go back 1 page on previous button click.
$('.p-pagination').on('click', '.btn-prev', function() {
    window.location.replace('/acp/' + view + '/list/' + orderby + '/' + direction + '/' + --page + '/' + limit);
});

// Go forward 1 page on next button click.
$('.p-pagination').on('click', '.btn-next', function() {
    window.location.replace('/acp/' + view + '/list/' + orderby + '/' + direction + '/' + ++page + '/' + limit);
});

// Highlight current page in pagination nav.
$('.p-pagination a').each(function() {
    if ($(this).text() == page) {
        $(this).css({'box-shadow' : 'inset 0px 0px 3px 1px rgba(0, 0, 0, 0.1)', 'color' : '#aaa'});
    }
});

$('table').on('click', 'tr', function() {
    $('tr').removeAttr('style');
    $(this).css({'background-color' : '#ddd'});
});

$('table').on('click', '.btn-delete', function() {
    var id = $(this).parent().siblings('.number-col').text();
    var btn = $(this);
    var btnhtml = btn.html();
    $.ajax({
        url: '/acp/' + view + '/delete',
        type: 'post',
        data: { 'id' : id },
        dateType: 'json',
        success: function(response) {
            btn.removeClass('disabled').html(btnhtml);
            $('.alert').remove();
            if (typeof(response) !== 'undefined') {
                $('.btn-goback').after(response);
                btn.parent().parent().remove();
            } 
        }
    });
});

/**
 * This code was being used for the newsletter page. Needs a bunch of work.
 * Not even sure what I was doing with this.
 */
/*var list = [];
var complete = true;

$('.check-all').on('change', function() { 
    if ($('.check-all').prop('checked') == true) { 
        $('.data-row').each(function() {
            list.push($(this).find('.email-col').text());
            $('.subscribers-table').find('.newsletter-checkbox').prop('checked', true);
            $('#to').val('All');
        });
    }
    if ($('.check-all').prop('checked') == false) { 
        $('.subscribers-table').find('.newsletter-checkbox').prop('checked', false);
        $('#to').val('');
        list = [];
    }
    if ($('#to').val()) {
        $('.btn-start').removeClass('disabled');
    } else {
        $('.btn-start').addClass('disabled');
    }
});

$('.data-row').on('change', function() { 

    var email = $('.email-col', this).text();

    if ($('.newsletter-checkbox', this).prop('checked') == true) { 
        if (list.indexOf(email) == -1) {
            list.push(email);
        }
    } 
    if ($('.newsletter-checkbox', this).prop('checked') == false) { 
        var remove = email;
        list = jQuery.grep(list, function(val) {
            return val != remove;
        });
    }
    $('#to').val(list);

    $('.data-row').each(function() {
        if ($('.newsletter-checkbox').prop('checked') == true) {
            complete = true;
        } else {
            complete = false;
        }
        if (complete == true) {
            $('.btn-start').removeClass('disabled');
        } else {
            $('.btn-start').addClass('disabled');
        }
    });

});

$('.main-controls').on('click', '.btn-start', function() {
    $('.newsletter-list').removeClass('open');
    $('.newsletter-editor').addClass('open');
});*/

</script>
<?= $footer; ?>