<div class="row p-pad-top-small p-pad-bottom-small">
    <div class="p-col" style="margin-right:25px;">
        <?php if ($sitemap_records): ?>
        <strong class="pull-left">Sitemap Records: <p style="display:inline;color:green;">Good</p></strong>
        <?php else: ?> 
        <strong class="pull-left">Sitemap Records: <p style="display:inline;color:red;">Bad</p></strong>
        <?php endif ?> 
    </div>
    <div class="p-col">
        <?php if ($sitemap_xml): ?>
        <strong class="pull-left">Sitemap XML: <p style="display:inline;color:green;">Good</p></strong> 
        <?php else: ?> 
        <strong class="pull-left">Sitemap XML: <p style="display:inline;color:red;">Bad</p></strong>
        <?php endif ?> 
    </div>
</div>
<form action="" method="post" id="sitemap-form" class="form row">
    <table class="p-table">
        <tr>
            <th class="number-col btn-sort">#</th>
            <th class="btn-sort">Name</th>
            <th class="btn-sort">Route</th>
            <th class="btn-sort">Order</th>
            <th class="btn-sort">Hidden</th>
            <th class="text-right action">Action</th>
        </tr>
        <?php foreach ($pages as $page): ?>
        <tr>
            <td class="number-col"><?= $page['id']; ?></td>
            <td><?= $page['route_name']; ?></td>
            <td><a href="<?= $page['route']; ?>"><?= $page['route']; ?></a></td>
            <td><input type="text" name="<?= $page['name']; ?>" value="<?= $page['link_order']; ?>" class="input"></td>
            <td><?= $page['hidden']; ?></td>
            <td class="text-right">
                <?php if ($page['hidden'] == 'True'): ?>
                <a href="/acp/sitemap/update/hidden/true/<?= $page['name']; ?>" class="p-btn p-btn-default p-btn-small pull-right" title="Show Link">
                    <i class="fas fa-eye fa-fw"></i>
                </a>
                <?php endif ?>
                <?php if ($page['hidden'] == 'False'): ?>
                <a href="/acp/sitemap/update/hidden/false/<?= $page['name']; ?>" class="p-btn p-btn-default p-btn-small pull-right" title="Hide Link">
                    <i class="fas fa-eye-slash fa-fw"></i>
                </a>
                <?php endif ?>
            </td>
        </tr>
        <?php endforeach ?>
    </table>
</form>
<script type="text/javascript">

$(document).on('click', '.btn-save-sitemap', function() {
    var btn = $(this);
    var btnhtml = btn.html();
    $.ajax({
        url: '/acp/sitemap/save',
        type: 'post',
        data: $('#sitemap-form').serialize(),
        success: function(data) {
            btn.removeClass('disabled').html(btnhtml);
            if (typeof(response) !== 'undefined') {
                $('.alert-area').append(response);
            } 
        }
    });
});
$('#analytics-form').keypress(function(e) {
    if (e.which == 13) {
        $('.btn-analytics').click();
    }
});

</script>