<table class="p-table">
    <tr>
        <th class="number-col btn-sort">#</th>
        <th class="btn-sort">Title</th>
        <th class="btn-sort">Name</th>
        <th class="btn-sort">Views</th>
        <th class="btn-sort">Last viewed</th>
        <th class="btn-sort">Last edit</th>
        <th class="text-right action">Action</th>
    </tr>
    <?php foreach ($pages_list as $page): ?>
    <tr>
        <td class="number-col"><?= $page['id']; ?></td>
        <td><?= $page['title']; ?></td>
        <td><?= $page['name']; ?></a></td>
        <td><?= $page['views']; ?></td>
        <td><?= $page['last_view']; ?></td>
        <td><?= $page['last_edit']; ?></td>
        <td class="text-right">
            <?php if (!$page['locked']): ?>
            <button type="button" class="p-btn p-btn-stop p-btn-small pull-right btn-delete"><i class="fas fa-trash fa-fw"></i></button>
            <?php endif ?>
            <a href="/acp/pages/edit/<?= $page['link']; ?>" class="p-btn p-btn-default p-btn-small pull-right"><i class="fas fa-pencil-alt fa-fw"></i></a>
            <a href="<?= $page['route']; ?>" class="p-btn p-btn-default p-btn-small pull-right"><i class="fas fa-eye fa-fw"></i></a>
        </td>
    </tr>
    <?php endforeach ?>
</table>