<table class="p-table">
    <tr>
        <th class="number-col">#</th>
        <th class="btn-sort">Author</th>
        <th class="btn-sort">Title</th>
        <th class="btn-sort">Views</th>
        <th class="btn-sort">Last viewed</th>
        <th class="btn-sort">Last edit</th>
        <th class="btn-sort">Posted</th>
        <th class="text-right action">Action</th>
    </tr>
    <?php foreach ($blog_posts as $post): ?>
    <tr>
        <td class="number-col"><?= $post['id']; ?></td>
        <td><a href="/profile/<?= $post['author']; ?>"><?= $post['author']; ?></a></td>
        <td><a href="/blog/<?= $post['id']; ?>/<?= $post['title']; ?>"><?= $post['title']; ?></a></td>
        <td><?= $post['views']; ?></td>
        <td><?= $post['last_view']; ?></td>
        <td><?= $post['last_edit']; ?></td>
        <td><?= $post['posted']; ?></td>
        <td class="text-right">
            <a href="/acp/blog/delete/<?= $post['id']; ?>" class="p-btn p-btn-stop p-btn-small pull-right" title="Delete"><i class="fas fa-trash fa-fw"></i></a>
            <a href="/acp/blog/edit/<?= $post['id']; ?>" class="p-btn p-btn-default p-btn-small pull-right" title="Edit"><i class="fas fa-pencil-alt fa-fw"></i></a>
        </td>
    </tr>
    <?php endforeach ?>
</table>