<?php if ($controls == 'user_controls'): ?>

<?php elseif ($controls == 'page_controls'): ?>
<a href="/acp/pages/new" class="p-btn p-btn-default" title="New"><i class="fas fa-plus fa-fw"></i> New</a>
<?php elseif ($controls == 'blog_controls'): ?>
<a href="/acp/blog/new" class="p-btn p-btn-default" title="New"><i class="fas fa-plus fa-fw"></i> New</a>
<?php elseif ($controls == 'newsletter_controls'): ?>
<button type="button" class="p-btn p-btn-default btn-start disabled"><i class="fas fa-envelope fa-fw"></i> Send</button>
<a href="/acp/newsletter/new" class="p-btn p-btn-default btn-create"><i class="fas fa-plus fa-fw"></i> Create</a>
<?php elseif ($controls == 'sitemap_controls'): ?>
<button type="button" class="p-btn p-btn-go btn-save-sitemap"><i class="fas fa-save fa-fw"></i> Save</button>
<a href="/acp/sitemap/generate" class="p-btn p-btn-default"><i class="fas fa-magic fa-fw"></i> Generate Sitemap</a>
<a href="/acp/sitemap/erase" class="p-btn p-btn-stop" onclick="return confirm('This will erase the sitemap. Are you sure?')"><i class="fas fa-eraser fa-fw"></i> Erase Sitemap</a>
<?php endif ?>
<a href="/acp/" class="p-btn p-btn-basic pull-right" title="Close"><i class="fas fa-times fa-fw"></i></a>
<a href="" class="p-btn p-btn-basic pull-right" title="Refresh"><i class="fas fa-sync-alt fa-fw"></i></a>