<table class="subscribers-table">
    <tr class="header-row">
        <th class="check-col"><input type="checkbox" name="check_all" value="1" class="check-all"></th>
        <th class="number-col">#</th>
        <th>Email</th>
        <th class="text-right">Control</th>
    </tr>
    <?php foreach ($subscribers as $subscriber): ?>
    <tr class="data-row">
        <td class="table-data check-col"><input type="checkbox" name="newsletter_checkbox" value="1" class="newsletter-checkbox"></td>
        <td class="table-data number-col"><?= $subscriber['id']; ?></td>
        <td class="table-data email-col"><?= $subscriber['email']; ?></td>
        <td class="table-data text-right">
            <a href="/acp/newsletter/delete/<?= $subscriber['id']; ?>" class="p-btn p-btn-stop p-btn-small pull-right" title="Delete"><i class="fas fa-trash fa-fw"></i></a>
        </td>
    </tr>
    <?php endforeach ?>
</table>