<table class="p-table">
    <tr>
        <th class="btn-sort number-col">#</th>
        <th class="btn-sort">Username</th>
        <th class="btn-sort">Email</th>
        <th class="btn-sort">Status</th>
        <th class="btn-sort">Last active</th>
        <th class="btn-sort">Group</th>
        <th class="text-right action">Action</th>
    </tr>
    <?php foreach ($users as $user): ?>
    <tr>
        <td class="number-col user-id"><?= $user['id']; ?></td>
        <td><a href="/profile/<?= $user['username']; ?>" class="pli" title="View"><?= $user['username']; ?></a></td>
        <td><?= $user['email']; ?></td>
        <td><?= $user['status']; ?></td>
        <td><?= $user['last_active']; ?></td>
        <td class="user-group"><?= $user['group']; ?></td>
        <td class="text-right">
            <a href="#" onclick="alert('Under Construction');" class="p-btn p-btn-basic p-btn-small pull-right" title="Email"><i class="fas fa-envelope fa-fw"></i></a>
            <a href="#" onclick="alert('Under Construction');" class="p-btn p-btn-basic p-btn-small pull-right" title="Direct Message"><i class="fas fa-comments fa-fw"></i></a>
            <a href="/acp/users/<?= $user['username']; ?>" class="p-btn p-btn-default p-btn-small pull-right" title="View"><i class="fas fa-user fa-fw"></i></a>
        </td>
    </tr>
    <?php endforeach ?>
</table>