<nav class="p-nav p-menu-open">
    <ul class="p-main-nav">
        <li>
            <a href="#" class="p-btn-menu"><i class="fas fa-toggle-off fa-fw"></i></a>
        </li>
        <li>
            <a href="/acp/overview" class="p-nav-link overview" title="Overview"><i class="fas fa-tachometer-alt fa-fw"></i> Overview</a>
        </li>
        <li>
            <a href="/acp/users" class="p-nav-link users" title="Users"><i class="fas fa-users fa-fw"></i> Users</a>
        </li>
        <li>
            <a href="/acp/pages" class="p-nav-link pages" title="Pages"><i class="fas fa-file-alt fa-fw"></i> Pages</a>
        </li>
        <li>
            <a href="/acp/sitemap" class="p-nav-link sitemap" title="Sitemap"><i class="fas fa-map-signs fa-fw"></i> Sitemap</a>
        </li>
        <li>
            <a href="/acp/blog" class="p-nav-link blog" title="Blog"><i class="fab fa-blogger fa-fw"></i> Blog</a>
        </li>
        <li>
            <a href="/acp/analytics" class="p-nav-link analytics" title="Analytics"><i class="fas fa-chart-area fa-fw"></i> Analytics</a>
        </li>
        <li>
            <a href="/acp/newsletter" class="p-nav-link newsletter" title="Newsletter"><i class="fas fa-envelope fa-fw"></i> Newsletter</a>
        </li>
        <hr class="row basic">
        <li>
            <a href="/acp/settings" class="p-nav-link settings" title="Settings"><i class="fas fa-cog"></i> Settings</a>
        </li>
        <hr class="row basic">
        <li>
            <a href="/logout" title="Log out"><i class="fas fa-sign-out-alt fa-fw"></i> Logout</a>
        </li>
    </ul>
</nav>