<?= $header; ?>
<main class="p-main new-page">
    <?= $nav; ?>
    <div class="p-workarea p-menu-open">
        <div class="p-main-title">
            <?= $breadcrumb; ?>
            <?= $search; ?>
        </div>
        <div class="p-main-controls">
            <button type="button" class="p-btn p-btn-go btn-save-page" title="Save"><i class="fas fa-save fa-fw"></i> Save</button>
            <a href="/acp/" class="p-btn p-btn-basic pull-right" title="Close"><i class="fas fa-times fa-fw"></i></a>
            <a href="/acp/pages/" class="p-btn p-btn-basic pull-right" title="Back"><i class="fas fa-reply fa-fw"></i></a>
            <a href="" class="p-btn p-btn-basic pull-right" title="Refresh"><i class="fas fa-sync-alt fa-fw"></i></a>
        </div>
        <div class="row alert-area"></div>
        <div class="p-main-panel">
            <div class="p-panel-content pad-top-small pad-bottom-small pad-left-small pad-right-small">
                <div class="panel-form-pane p-text-left">
                    <div class="p-col dual">
                        <strong class="row p-space-bottom-small">Set Page Info</strong>
                        <hr class="row basic p-space-bottom-small">
                        <form action="" method="post" enctype="multipart/form-data" id="new-page-form">
                            <div class="row p-space-bottom-small">
                                <div class="label-col">
                                    <label for="page_title">Title</label>
                                </div>
                                <div class="input-col">
                                    <input type="text" name="page_title" id="page-title" class="input" style="width:100%">
                                </div>
                            </div>
                            <input type="hidden" name="page_name" id="page-name">
                            <input type="hidden" name="page_route" id="page-route">
                            <input type="hidden" name="page_view" id="page-view">
                            <input type="hidden" name="page_controller" id="page-controller">
                        </form>
                    </div>
                    <div class="p-col dual">
                        <strong class="row p-space-bottom-small">Page Info</strong>
                        <hr class="row basic p-space-bottom-small">
                        <table class="page-info-table">
                            <tr>
                                <td style="width:100px;">Name</td>
                                <td class="name"></td>
                            </tr>
                            <tr>
                                <td style="width:100px;">Route</td>
                                <td class="route"></td>
                            </tr>
                            <tr>
                                <td style="width:100px;">Model</td>
                                <td class="model">PagesModel.php</td>
                            </tr>
                            <tr>
                                <td style="width:100px;">View</td>
                                <td class="view"></td>
                            </tr>
                            <tr>
                                <td style="width:100px;">Controller</td>
                                <td class="controller"></td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>
<script type="text/javascript">

$('#new-page-form').on('keyup change', '#page-title', function() {
    var host = window.location.origin;
    var title = $('#page-title').val().replace(/[^A-Za-z0-9 ]/g, '');
    var name = title.toLowerCase().replace(/[^a-z0-9 ]/g, '').replace(/[^a-z0-9]/g, '-');
    var route = '/' + name;
    var view = name.replace(/[^a-z0-9-]/g, '-').toLowerCase();
    var pieces = name.split('-');
    var string;
    var controller = [];

    $.each(pieces, function(index, value) {
        string = value.toLowerCase().replace(/\b[a-z]/g, function(letter) { return letter.toUpperCase(); });
        controller.push(string);
    });

    controller = controller.join();
    controller = controller.replace(/[^a-zA-Z0-9]/g, '');

    $('#page-title').val(title);
    $('.title').html(title);
    $('.name').html(name);
    $('#page-name').val(name);
    $('.route').html(host + route);
    $('#page-route').val(route);
    $('.view').html(view + '.htm');
    $('#page-view').val(view + '.htm');
    $('.controller').html(controller + 'Controller.php');
    $('#page-controller').val(controller + 'Controller.php');
});

$(document).on('click', '.btn-save-page', function() {
    var btn = $(this);
    var btnhtml = btn.html();
    $.ajax({
        url: '/acp/pages/insertPageData',
        type: 'post',
        data: $('#new-page-form').serialize(),
        success: function(response) {
            btn.removeClass('disabled').html(btnhtml);
            if (typeof(response) !== 'undefined') {
                $('.alert-area').append(response);
            } 
        }
    });
});
$('#new-page-form').keypress(function(e) {
    if (e.which == 13) {
        return false;
    }
});

</script>
<?= $footer; ?>