<?= $header; ?>
<form action="" method="post" enctype="multipart/form-data" id="blog-form" class="row p-form">
    <main class="p-main new-post-page">
        <?= $nav; ?>
        <div class="p-workarea p-menu-open">
            <div class="p-main-title">
                <?= $breadcrumb; ?>
                <?= $search; ?>
            </div>
            <div class="p-main-controls">
                <button type="button" class="p-btn p-btn-go btn-save-blog" title="Save"><i class="fa fa-save fa-fw"></i> Save</button>
                <button type="button" class="p-btn p-btn-default btn-browse" title="Browse"><i class="fa fa-folder-open fa-fw"></i> Browse</button>
                <a href="/acp/" class="p-btn p-btn-basic pull-right" title="Close"><i class="fas fa-times fa-fw"></i></a>
                <a href="/acp/blog/" class="p-btn p-btn-basic pull-right" title="Back"><i class="fas fa-reply fa-fw"></i></a>
                <a href="" class="p-btn p-btn-basic pull-right" title="Refresh"><i class="fa fa-sync-alt fa-fw"></i></a>
            </div>
            <div class="row alert-area"></div>
        </div>
    </main>
    <div class="page-editor">
        <span class="p-panel-title">Blog Editor<button type="button" class="btn-page-up pull-right"><i class="fas fa-caret-up fa-fw"></i></button></span>
        <div class="row page-editor-btns">
            <div class="p-wrapper">
                <button type="button" class="p-btn p-btn-go btn-save-blog pull-left" title="Save"><i class="fas fa-save fa-fw"></i> Save</button>
                <button type="button" class="p-btn p-btn-default btn-browse pull-left" title="Browse"><i class="fas fa-folder-open fa-fw"></i> Browse</button>
            </div>
        </div>
        <div class="page-content p-pad-bottom-large">
            <div class="p-panel-form-page text-left">
                <div class="wrapper">
                    <textarea name="body" id="blog-editor">
                        <h1>Blog Title</h1>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                        <p></p>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                        <p></p>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                        <p></p>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                    </textarea>
                </div>
            </div>
        </div>
    </div>
</form>
<script type="text/javascript">

var introduction = document.getElementById('blog-editor');
introduction.setAttribute('contenteditable', true);
CKEDITOR.inline('blog-editor', { customConfig: '/application/javascript/ckeditor/editableConfig.js' }).on('blur', function(e) { return false; });

$(function() { $('.filebrowser').draggable(); });
$('.main').filebrowser({
    dir : '/application/storage/uploads/blog/',
});
$('.filebrowser').on('click', '.filebrowser-file-link', function(e) {
    e.preventDefault();
    var filename = $(this).text();
    CKEDITOR.instances['blog-editor'].insertHtml('<img src="' + localStorage.current_path + filename + '" alt="' + filename + '">');
    $('.slideshow p > img').unwrap();
});

Dropzone.options.dropzone = {
    url: '/acp/blog/upload',
    paramName: 'upload_image', // The name that will be used to transfer the file
    maxFilesize: 1, // MB
    maxFiles: null,
    acceptedFiles: '.jpg, .jpeg, .png, .tif, .tiff, .gif',
    dictDefaultMessage: 'Drop files here',
    resizeWidth:800,
    success: function(file, response) {
        if (typeof(response) !== 'undefined') {
            $('.dz-success-mark').css({'opacity':'1'});
            $('.dz-success-mark').css({'opacity':'1'});
        }
    },
};

$('.btn-save-blog').click(function() {
    var btn = $(this);
    var btnhtml = btn.html();

    for (instance in CKEDITOR.instances) {
        CKEDITOR.instances[instance].updateElement();
    }

    $.ajax({
        url: '/acp/blog/insert',
        type: 'post',
        data: $('#blog-form').serialize(),
        success: function(response) {
            btn.removeClass('disabled').html(btnhtml);
            if (typeof(response) !== 'undefined') {
                $('.alert-area').append(response);
            } 
            $('html, body').animate( {
                scrollTop: 0
            }, 300);
        }
    });
});

$(document).on('click', '.btn-page-up', function() {
    $('.page-editor').toggleClass('pe-up');
    $('.fas').toggleClass('fa-caret-up').toggleClass('fa-caret-down');
});

</script>
<?= $footer; ?>