<div class="p-search">
    <div class="p-search-icon"><i class="fas fa-search fa-fw"></i></div>
    <input type="text" name="string" placeholder="Search" id="search-string" class="input">
    <div class="p-search-results">
        <ul class="p-search-results-users"><em></em></ul>
        <ul class="p-search-results-blog"><em></em></ul>
        <ul class="p-search-results-pages"><em></em></ul>
    </div>
</div>