<?= $header; ?>
<main class="p-main settings-page">
    <?= $nav; ?>
    <div class="p-workarea p-menu-open">
        <div class="p-main-title">
            <?= $breadcrumb; ?>
            <?= $search; ?>
        </div>
        <div class="p-main-controls">
            <button type="button" class="btn btn-go btn-save-settings"><i class="fas fa-save fa-fw"></i> Save</button>
            <a href="/acp/" class="btn btn-basic pull-right" title="Close"><i class="fas fa-times fa-fw"></i></a>
            <a href="" class="btn btn-basic pull-right" title="Refresh"><i class="fas fa-sync-alt fa-fw"></i></a>
        </div>
        <div class="row alert-area"></div>
        <div class="p-main-panel">
            <div class="p-panel-content">
                <form action="" method="post" id="settings-form" class="row">
                    <div class="settings-area general">
                        <strong>General</strong>
                        <div class="row settings-row">
                            <div class="label-col">
                                <label for="sitename" class="label" style="width:170px;">Site Name</label>
                            </div>
                            <div class="input-col">
                                <input type="text" name="sitename" value="<?= $sitename_setting; ?>" id="sitename" class="input" style="width:350px;">
                            </div>
                        </div>
                        <div class="row settings-row">
                            <div class="label-col">
                                <label for="owner_email" class="label" style="width:170px;">Owners Email</label>
                            </div>
                            <div class="input-col">
                                <input type="email" name="owners_email" value="<?= $owners_email; ?>" id="owners-email" class="input" style="width:350px;">
                            </div>
                            <div class="info-col">
                                <i class="fas fa-question-circle fa-fw"></i> Emails from the contact form will be sent to this address.
                            </div>
                        </div>
                        <div class="row settings-row">
                            <div class="label-col">
                                <label for="pw_setting" class="label" style="width:170px;">Strong Passwords</label>
                            </div>
                            <div class="input-col">
                                <?php if ($pw_setting): ?>
                                <input type="checkbox" name="pw_setting" value="1" checked="checked" class="input">
                                <?php endif ?>
                                <?php if (!$pw_setting): ?>
                                <input type="checkbox" name="pw_setting" value="1" class="input">
                                <?php endif ?>
                            </div>
                            <div class="info-col">
                                <i class="fas fa-question-circle fa-fw"></i> Force users to create a strong password during sign up.
                            </div>
                        </div>
                        <div class="row settings-row">
                            <div class="label-col">
                                <label for="logout_setting" class="label" style="width:170px;">Verify Logout</label>
                            </div>
                            <div class="input-col">
                                <?php if ($logout_setting): ?>
                                <input type="checkbox" name="logout_setting" value="1" checked="checked" id="verify-logout" class="input">
                                <?php endif ?>
                                <?php if (!$logout_setting): ?>
                                <input type="checkbox" name="logout_setting" value="1" id="verify-logout" class="input">
                                <?php endif ?>
                            </div>
                            <div class="info-col">
                                <i class="fas fa-question-circle fa-fw"></i> Force the users to confirm when logging out.
                            </div>
                        </div>
                        <div class="row settings-row">
                            <div class="label-col">
                                <label for="inactivity_setting" class="label" style="width:170px;">Inactivity Limit</label>
                            </div>
                            <div class="input-col">
                                <select name="inactivity_setting" class="select">
                                    <option value="<?= $inactivity_setting; ?>"><?= $inactivity_setting; ?></option>
                                    <?php for ($i = 0; $i < 61; $i++): ?> 
                                    <option value="<?= $i; ?>"><?= $i; ?></option>
                                    <?php endfor ?>
                                </select>
                            </div>
                            <div class="info-col">
                                <i class="fas fa-question-circle fa-fw"></i> Amount of time before the user is logged out due to inactivity.
                            </div>
                        </div>
                    </div>
                    <div class="settings-area mail">
                        <strong>Mail</strong>
                        <div class="row settings-row">
                            <div class="label-col">
                                <label for="mail_host" class="label" style="width:170px;">SMTP Host</label>
                            </div>
                            <div class="input-col">
                                <input type="text" name="mail_host" value="<?= $mail['host']; ?>" id="mail-host" class="input" style="width:350px;">
                            </div>
                            <div class="info-col">
                                <i class="fas fa-question-circle fa-fw"></i> SMTP host for mail server.
                            </div>
                        </div>
                        <div class="row settings-row">
                            <div class="label-col">
                                <label for="mail_port" class="label" style="width:170px;">SMTP Port</label>
                            </div>
                            <div class="input-col">
                                <input type="text" name="mail_port" value="<?= $mail['port']; ?>" id="mail-port" class="input" style="width:350px;">
                            </div>
                            <div class="info-col">
                                <i class="fas fa-question-circle fa-fw"></i> SMTP port for mail server.
                            </div>
                        </div>
                        <div class="row settings-row">
                            <div class="label-col">
                                <label for="mail_username" class="label" style="width:170px;">Username</label>
                            </div>
                            <div class="input-col">
                                <input type="text" name="mail_username" value="<?= $mail['username']; ?>" id="mail-username" class="input" style="width:350px;">
                            </div>
                            <div class="info-col">
                                <i class="fas fa-question-circle fa-fw"></i> Username you use to login to the email account.
                            </div>
                        </div>
                        <div class="row settings-row">
                            <div class="label-col">
                                <label for="mail_password" class="label" style="width:170px;">Password</label>
                            </div>
                            <div class="input-col">
                                <input type="password" name="mail_password" value="<?= $mail['password']; ?>" id="mail-password" class="input" style="width:350px;">
                            </div>
                            <div class="info-col">
                                <i class="fas fa-question-circle fa-fw"></i> Password you use to login to the email account.
                            </div>
                        </div>
                    </div>
                    <div class="settings-area server">
                        <strong>Server</strong>
                        <div class="row settings-row">
                            <div class="label-col">
                                <label for="mode_setting" class="label" style="width:170px;">Maintenance Mode</label>
                            </div>
                            <div class="input-col">
                                <?php if ($mode_setting): ?>
                                <input type="checkbox" name="mode_setting" value="1" checked="checked" id="mode-setting" class="input">
                                <?php endif ?>
                                <?php if (!$mode_setting): ?>
                                <input type="checkbox" name="mode_setting" value="1" id="mode-setting" class="input">
                                <?php endif ?>
                            </div>
                            <div class="info-col">
                                <i class="fas fa-question-circle fa-fw"></i> Enabling maintenance mode shows the "Under Maintenance" message instead of the site.
                            </div>
                        </div>
                        <div class="row settings-row">
                            <div class="label-col">
                                <label for="error_reporting" class="label" style="width:170px;">Error Reporting</label>
                            </div>
                            <div class="input-col">
                                <label for="error_reporting" class="label pull-left" style="height:30px;line-height:30px;margin-right:2px;">On</label>
                                <input type="radio" name="error_reporting" value="1" checked="checked" id="error-reporting" class="input pull-left" style="margin-right:20px;">
                                <label for="error_reporting" class="label pull-left" style="height:30px;line-height:30px;margin-right:2px;">Off</label>
                                <input type="radio" name="error_reporting" value="" id="error-reporting" class="input pull-left">
                            </div>
                            <div class="info-col">
                                <i class="fas fa-question-circle fa-fw"></i> Turn error reporting on or off.
                            </div>
                        </div>
                        <div class="row settings-row">
                            <div class="label-col">
                                <label for="mode_setting" class="label" style="width:170px;">Timezone</label>
                            </div>
                            <div class="input-col">
                                <select name="timezone" class="select">
                                    <?php foreach ($timezones as $t): ?> 
                                    <option value="$t"><?= $t; ?></option>
                                    <?php endforeach ?>
                                </select>
                            </div>
                            <div class="info-col">
                                <i class="fas fa-question-circle fa-fw"></i> Select the timezone for the server.
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</main>
<script type="text/javascript">

$('.btn-save-settings').click(function() {

    var btn = $(this);
    var btnhtml = btn.html();

    $.ajax({
        url: '/acp/settings/update',
        type: 'POST',
        data: $('#settings-form').serialize(),
        success: function(response) {
            btn.removeClass('disabled').html(btnhtml);
            if (typeof(response) !== 'undefined') {
                $('.alert-area').append(response);
            } 
        }
    });
});
$('#settings-form').keypress(function(e) {
    if (e.which == 13) {
        $('.btn-save-settings').click();
    }
});

</script>
<?= $footer; ?>