<?= $header; ?>
<main class="main about-page">
    <div class="row pad-top-large pad-bottom-large">
        <div class="wrapper">
            <div class="custom-content"><?= $content; ?></div>
        </div>
    </div>
</main>
<?= $footer; ?>