<?= $header; ?>
<main class="main account-page">
    <div class="row pad-top-large pad-bottom-large">
        <div class="wrapper">
            <?php if ($activated): ?>
            <div class="account">
                <h1 class="heading-small pull-left">Account Settings</h1> 
                <div class="account-page-links">
                    <a href="/profile/<?= $username; ?>" class="account-page-link"><i class="fa fa-user" aria-hidden="true"></i> Profile</a>
                    <a href="/messages/inbox" class="account-page-link"><i class="fa fa-envelope" aria-hidden="true"></i> Messages</a> 
                </div>
                <hr class="row space-bottom-small">
                <div class="account-left-panel">
                    <div class="row">
                        <div class="avatar">
                            <img src="/application/storage/uploads/account/<?= $avatar; ?>" alt="Account Avatar" class="row">
                            <form action="/account/uploadAvatar" class="dropzone needsclick dz-clickable" id="dropzone"></form>
                        </div>
                    </div>
                </div>
                <div class="account-right-panel">
                    <form action="" method="post" id="account-form" class="row">
                        <div class="row space-bottom-small">
                            <div class="label-col">
                                <label for="username">Username:</label>
                            </div>
                            <div class="input-col">
                                <div class="row username">
                                    <input type="text" name="username" placeholder="Username" value="<?= $username; ?>" id="username" class="row">
                                </div>
                            </div>
                        </div>
                        <div class="row space-bottom-small">
                            <div class="label-col">
                                <label for="firstname">Name:</label>
                            </div>
                            <div class="input-col">
                                <div class="row firstname">
                                    <input type="text" name="firstname" value="<?= $firstname; ?>" id="firstname" class="row">
                                </div>
                            </div>
                        </div>
                        <div class="row space-bottom-small">
                            <div class="label-col">
                                <label for="lastname">Surname:</label>
                            </div>
                            <div class="input-col">
                                <div class="row lastname">
                                    <input type="text" name="lastname" value="<?= $lastname; ?>" id="lastname" class="row">
                                </div>
                            </div>
                        </div>
                        <div class="row space-bottom-small">
                            <div class="label-col">
                                <label for="email">Email:</label>
                            </div>
                            <div class="input-col">
                                <div class="row email">
                                    <input type="email" name="email" placeholder="Email" value="<?= $email; ?>" id="email" class="row">
                                </div>
                            </div>
                        </div>
                        <div class="row space-bottom-small pad-bottom-medium">
                            <div class="label-col">
                                <label for="website">Website:</label>
                            </div>
                            <div class="input-col">
                                <div class="row website">
                                    <input type="text" name="website" value="<?= $website; ?>" id="website" class="row">
                                </div>
                            </div>
                        </div>
                        <div class="row space-bottom-small pad-bottom-medium">
                            <div class="label-col">
                                <label for="birthday">Date of Birth:</label>
                            </div>
                            <div class="input-col">
                                <div class="row birthday">
                                    <select name="day">
                                        <?php if ($day): ?>
                                        <option value="<?= $day; ?>" selected><?= $day; ?></option>
                                        <?php else: ?>
                                        <option value="" selected>Day</option>
                                        <?php endif ?>
                                        <?php for ($i = 1; $i < 32; $i++): ?>
                                        <option value="<?= $i; ?>"><?= $i; ?></option>
                                        <?php endfor ?>
                                    </select>
                                    <select name="month">
                                        <?php if ($month): ?>
                                        <option value="<?= $month_num; ?>" selected><?= $month; ?></option>
                                        <?php else: ?>
                                        <option value="" selected>Month</option>
                                        <?php endif ?>
                                        <option value="01">January</option>
                                        <option value="02">February</option>
                                        <option value="03">March</option>
                                        <option value="04">April</option>
                                        <option value="05">May</option>
                                        <option value="06">June</option>
                                        <option value="07">July</option>
                                        <option value="08">August</option>
                                        <option value="09">September</option>
                                        <option value="10">October</option>
                                        <option value="11">November</option>
                                        <option value="12">December</option>
                                    </select>
                                    <select name="year">
                                        <?php if ($year): ?>
                                        <option value="<?= $year; ?>" selected><?= $year; ?></option>
                                        <?php else: ?>
                                        <option value="" selected>Year</option>
                                        <?php endif ?>
                                        <?php for ($i = 2017; $i > 1899; $i--): ?>
                                        <option value="<?= $i; ?>"><?= $i; ?></option>
                                        <?php endfor ?>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="row space-bottom-small pad-bottom-medium">
                            <div class="label-col">
                                <label for="country">Country:</label>
                            </div>
                            <div class="input-col">
                                <div class="row country">
                                    <select name="country">
                                        <?php if ($country_name): ?>
                                        <option value="<?= $country_code; ?>, <?= $country_name; ?>"><?= $country_name; ?></option>
                                        <?php foreach ($countries as $country): ?>
                                        <option value="<?= $country['code']; ?>, <?= $country['name']; ?>"><?= $country['name']; ?></option>
                                        <?php endforeach ?>
                                        <?php else: ?>
                                        <option value="">Select</option>
                                        <?php foreach ($countries as $country): ?>
                                        <option value="<?= $country['code']; ?>, <?= $country['name']; ?>"><?= $country['name']; ?></option>
                                        <?php endforeach ?>
                                        <?php endif ?>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="row space-bottom-small">
                            <div class="label-col">
                                <label for="privacy">Private Account:</label>
                            </div>
                            <div class="input-col">
                                <?php if ($privacy == 1): ?>
                                <input type="checkbox" name="privacy" value="1" checked="checked" title="Private profiles cannot be viewed by the public." id="privacy">
                                <?php endif ?>
                                <?php if ($privacy == 0): ?>
                                <input type="checkbox" name="privacy" value="" title="Private profiles cannot be viewed by the public." id="privacy">
                                <?php endif ?>
                            </div>
                        </div>
                        <div class="row space-bottom-small pad-bottom-medium">
                            <div class="label-col">
                                <div class="row">
                                    <label for="newsletter">Newsletter:</label>
                                </div>
                            </div>
                            <div class="input-col">
                                <div class="row">
                                    <?php if ($newsletter == 1): ?>
                                    <input type="checkbox" name="newsletter" value="1" checked="checked" id="newsletter">
                                    <?php endif ?>
                                    <?php if ($newsletter == 0): ?>
                                    <input type="checkbox" name="newsletter" value="" id="newsletter">
                                    <?php endif ?>
                                </div>
                            </div>
                        </div>
                        <div class="row space-bottom-small pad-bottom-medium">
                            <div class="label-col">
                                <label>Gender:</label>
                            </div>
                            <div class="input-col">
                                <div class="row">
                                    <?php if ($gender == 'Male'): ?>
                                    <input type="radio" name="gender" value="Male" checked="checked" id="gender" class="radio-control">
                                    <?php else: ?>
                                    <input type="radio" name="gender" value="Male" id="gender" class="radio-control">  
                                    <?php endif ?>
                                    <label for="gender" class="gender-label">Male</label>
                                    <?php if ($gender == 'Female'): ?>
                                    <input type="radio" name="gender" value="Female" checked="checked" id="gender" class="radio-control">
                                    <?php else: ?>
                                    <input type="radio" name="gender" value="Female" id="gender" class="radio-control">
                                    <?php endif ?>
                                    <label for="gender" class="gender-label">Female</label>
                                    <?php if ($gender == ''): ?>
                                    <input type="radio" name="gender" value="" checked="checked" id="gender" class="radio-control">
                                    <?php else: ?>
                                    <input type="radio" name="gender" value="" id="gender" class="radio-control">  
                                    <?php endif ?>
                                    <label for="gender" class="gender-label">Other</label>
                                </div>
                            </div>
                        </div>
                        <div class="row space-bottom-small">
                            <div class="label-col">
                                <label for="password">Password:</label>
                            </div>
                            <div class="input-col">
                                <div class="row password">
                                    <input type="password" name="password" placeholder="New password" id="password" class="row">
                                    <div class="show-pw"><i class="fa fa-eye" aria-hidden="true"></i></div>
                                </div>
                            </div>
                        </div>
                        <div class="row space-bottom-small pad-bottom-medium">
                            <div class="label-col">
                                <div class="row">
                                    <label for="confirm">Confirm Password:</label>
                                </div>
                            </div>
                            <div class="input-col">
                                <div class="row confirm">
                                    <input type="password" name="confirm" placeholder="Repeat your password" id="confirm" class="row">
                                </div>
                            </div>
                        </div>
                        <div class="row space-bottom-small">
                            <div class="label-col">
                                <div class="row">
                                    <label for="bio">Bio:</label>
                                </div>
                            </div>
                            <div class="input-col">
                                <div class="row textarea-row">
                                    <textarea type="text" name="bio" class="row"><?= $bio; ?></textarea>
                                </div>
                            </div>
                        </div>
                        <div class="row space-bottom-small pad-top-large">
                            <div class="row">
                                <a href="/account" class="btn btn-stop pull-right"><i class="fa fa-ban" aria-hidden="true"></i> Cancel</a>
                                <button type="button" class="btn btn-go btn-save pull-right"><i class="fa fa-floppy-o" aria-hidden="true"></i> Save</button>
                            </div>
                        </div>
                        <input type="text" name="red_herring" class="red-herring">
                    </form>
                </div>
            </div>
            <?php else: ?>
            <div class="row pad-top-large pad-bottom-large activation-required">
                <div class="col user-form text-center">
                    <div class="row login-form">
                        <div class="alert warning">
                            <strong>Notice!</strong> Account validation pending.
                        </div>
                        <form class="row activate" id="activation-form">
                            <div class="row fancy-row space-bottom-small email">
                                <label for="email">Send another activation email</label>
                                <input type="email" name="email" class="row" id="email">
                            </div>
                            <button type="button" class="btn btn-default btn-send row"><i class="fa fa-paper-plane" aria-hidden="true"></i> Send</button>
                        </form>
                    </div>
                </div>
            </div>
            <?php endif ?>
        </div>
    </div>
</main>
<script type="text/javascript">

$('#account-form').validator({
    formButton : '.btn-save',
    checkUsernameTaken : false,
    checkEmailTaken : false
});

$('#username').on('keyup change', function() {
    var username = $.trim($('#username').val().toUpperCase().replace(/\s+/g, ''));
    var current_username = '<?= $username; ?>';
    current_username = current_username.toUpperCase();
    $.post('/account/usernameLiveCheck', $('#account-form').serialize()).done(function(data) { 
        if (username != current_username) {
            if (username.length > 0 && username == data) {
                $('.username .alert-inline').remove();
                $('#username').css({'border':'1px solid #f15454'});
                $('.username').append('<div class="alert-inline"><div class="alert-inline-arrow"></div>Username taken.</div>');
            }
        }
    });
});

$('#email').on('keyup change', function() { 
    var email = value;
    var current_email = '<?= $email; ?>';
    current_email = current_email.toUpperCase();
    $.post('/account/emailLiveCheck', $('#account-form').serialize()).done(function(data) {
        if (email.length > 5 && email == data) {
            $('.email .alert-inline').remove();
            $('#email').css({'border':'1px solid #f15454'});
            $('.email').append('<div class="alert-inline"><div class="alert-inline-arrow"></div>Email taken.</div>');
        }
    });
});

Dropzone.options.dropzone = {
    paramName: 'avatar', // The name that will be used to transfer the file
    maxFilesize: 1, // MB
    maxFiles: 1,
    acceptedFiles: '.jpg, .png, .gif',
    dictDefaultMessage: 'Change',
    success: function(file, response) {
        $('.alert').remove();
        $('.loading').remove();
        $('#account-form').prepend(response);
    },
    error: function(file, response) {
        $('.alert').remove();
        $('.loading').fadeOut(700);
        $('#account-form').prepend('<div class="alert error"><strong>Error!</strong> ' + response + ' (<a href="/account">Try Again?</a>)</div>');
    }
};

$('.btn-save').click(function() {
    $.ajax({
        url: '/account/validate',
        type: 'post',
        data: $('form').serialize(),
        beforeSend: function() {
            $('.main').append(Common.showLoader('/application/storage/images/loading.svg'));
            $('.alert').remove();
            $('.password-strength').remove();
        },
        success: function(response) {
            if (typeof(response) !== 'undefined') {
                $('.alert').remove();
                $('.loading').remove();
                $('#account-form').prepend(response);
            }
            $('html, body').animate( {
                scrollTop: 0
            }, 500);
        }
    });
});
$('#account-form').keypress(function(e) {
    if (e.which == 13) {//Enter key pressed
        $('.btn-save').click();//Trigger search button click event
    }
});

$('.btn-send').click(function() {
    $.ajax({
        url: '/account/sendActivateMail',
        type: 'post',
        data: $('#activation-form').serialize(),
        beforeSend: function() {
            $('.btn-send').addClass('disabled').text(' Loading...').prepend('<i class="fa fa-spinner fa-pulse fa-fw"></i>');
            $('.alert').remove();
        },
        success: function(response) {
            $('.btn-send').addClass('disabled').text(' Send').prepend('<i class="fa fa-paper-plane" aria-hidden="true"></i>');
            if (typeof(response) !== 'undefined') {
                $('.alert').remove();
                $('.user-form').html(response);
            }
        }
    });
});

</script>
<?= $footer; ?>