<?= $header; ?>
<main class="main activation-page">
    <div class="row pad-top-small pad-bottom-small">
        <div class="wrapper">
            <div class="row pad-top-large pad-bottom-large activation-required">
                <?= $message; ?>
            </div>
        </div>
    </div>
</main>
<?= $footer; ?>