<?= $header; ?>
<main class="main contact-page">
    <div class="row pad-top-large pad-bottom-large">
        <div class="wrapper">
            <h1>CONTACT</h1>
            <div class="row">
                <div class="contact-form">
                    <hr class="row space-top-small space-bottom-small">
                    <form action="" method="post" id="contact-form" class="row">
                        <div class="row space-bottom-small firstname">
                            <label for="firstname">Name</label>
                            <input type="text" name="firstname" required id="firstname" class="row required">
                        </div>
                        <div class="row space-bottom-small email">
                            <label for="email">Email</label>
                            <input type="email" name="email" required id="email" class="row required">
                        </div>
                        <div class="row space-bottom-small">
                            <label for="message">Message</label>
                            <textarea name="message" required id="message" class="row required"></textarea>
                        </div>
                        <div class="row space-bottom-small">
                            <button type="button" class="btn btn-default btn-contact disabled pull-right"><i class="fa fa-paper-plane" aria-hidden="true"></i> Send</button>
                        </div>
                        <input type="text" name="red_herring" class="red-herring">
                    </form>
                </div>
            </div>
            <div class="page-content"><?= $content; ?></div>
        </div>
    </div>
</main>
<script type="text/javascript">

$('#contact-form').validator({
    formButton : '.btn-contact',
    checkEmailTaken : false
});

$('#contact-form').on('click', '.btn-contact', function() {
    $.ajax({
        url: '/contact/validate',
        type: 'post',
        data: $('#contact-form').serialize(),
        beforeSend: function() {
            $('.btn-contact').addClass('disabled').text(' Loading...').prepend('<i class="fa fa-spinner fa-pulse fa-fw"></i>');
            $('.alert').remove();
        },
        success: function(result) {
            $('.btn-contact').addClass('disabled').text(' Send').prepend('<i class="fa fa-paper-plane" aria-hidden="true"></i>');
            if (typeof(result) !== 'undefined') {
                $('.contact-form').html(result);
            } 
        }
    });
});
$('#contact-form').keypress(function(e) {
    if (e.which == 13) {
        $('.btn-contact').click();
    }
});

</script>
<?= $footer; ?>