    <footer class="footer">
        <div class="wrapper">
            <div class="row">
                <div class="col triple">
                    <strong class="row space-bottom-medium text-medium">Information</strong>
                    <ul class="row list-unstyled">
                        <li>201 Merchant St. #2430</li>
                        <li>Honolulu, HI 96813</li>
                        <li>695-4300</li>
                    </ul>
                    <hr class="basic row space-top-small space-bottom-small">
                    <ul class="row list-unstyled">
                        <li><a href="/sitemap">Site Map</a></li>
                        <li><a href="/information/privacy_policy">Privacy Policy</a></li>
                        <li><a href="/information/terms_conditions">Terms &amp; Conditions</a></li>
                    </ul>
                </div>
                <div class="col triple">
                    <strong class="row space-bottom-medium text-medium">Help</strong>
                    <ul class="row list-unstyled">
                        <li><a href="/guide">Guide</a></li>
                        <li><a href="/faq">FAQ</a></li>
                        <li><a href="/contact">Contact Us</a></li>
                    </ul>
                </div>
                <div class="col triple">
                    <strong class="row space-bottom-medium text-medium">Connect</strong>
                </div>
            </div>
        </div>
    </footer>
</body>
</html>