<?= $header; ?>
<main class="main login-page">
    <div class="row pad-top-small pad-bottom-small">
        <div class="wrapper">
            <div class="col user-form text-center">
                <div class="row login-form">
                    <h1 class="pad-bottom-small heading-medium text-center">Login to <?= $sitename; ?></h1>
                    <form id="login-form" class="row fancy-form">
                        <div class="row fancy-row space-bottom-small email">
                            <label for="email">Email</label>
                            <input type="email" name="email" required id="email" class="row required">
                        </div>
                        <div class="row fancy-row space-bottom-small">
                            <label for="password">Password</label>
                            <input type="password" name="password" required id="password" class="row required">
                            <div class="show-pw"><i class="fa fa-eye" aria-hidden="true" title="Show password"></i></div>
                        </div>
                        <div class="row fancy-row">
                            <button type="button" class="btn btn-default btn-go btn-login disabled row"><i class="fa fa-sign-in" aria-hidden="true"></i> Login</button>
                        </div>
                        <a href="/account/reset" class="row space-top-small text-center">Forgot password?</a>
                        <hr class="row space-top-small space-bottom-medium">
                        <div class="row space-bottom-small">
                            <p class="row space-bottom-small">Don't have an account?</p>
                            <a href="/signup" class="btn btn-default row"><i class="fa fa-pencil-square-o fa-fw"></i> Create an account</a>
                        </div>
                        <input type="text" name="red_herring" class="red-herring">
                    </form>
                </div>
            </div>
        </div>
    </div>
</main>
<script type="text/javascript">

$('#login-form').validator({
    checkEmailTaken : false,
    formButton : '.btn-login'
});

$(document).on('click', '.btn-login', function() {
    $.ajax({
        url: '/login/validate', // Validate function exists in (/root/application/controllers/account/login.php).
        type: 'POST',
        data: $('#login-form').serialize(),
        beforeSend: function() {
            $('.btn-login').addClass('disabled').text(' Loading...').prepend('<i class="fa fa-spinner fa-pulse fa-fw"></i>');
            $('.alert').remove();
        },
        success: function(response) {
            $('.btn-login').addClass('disabled').text(' Login').prepend('<i class="fa fa-sign-in" aria-hidden="true"></i>');
            if (typeof(response) !== 'undefined') {
                if (response == 'login') {
                    window.location.replace('login');
                } else {
                    $('h1').after(response);
                }
            }
        }
    });
});
$('#login-form').keypress(function(e) {
    if(e.which == 13){ //Enter key pressed
        $('.btn-login').click(); //Trigger search button click event
    }
});

</script>
<?= $footer; ?>