<?= $header; ?>
<main class="main logout-page">
    <div class="row">
        <div class="wrapper">
            <div class="col user-form text-center">
                <?php if ($inactive): ?>
                <div class="row pad-bottom-large text-center">
                    <div class="row">
                        <div class="alert info"><strong>Attention!</strong> You were logged out do to inactivity. <button type="button" class="alert-redirect"><i class="fa fa-times" aria-hidden="true"></i></button></div>
                    </div>
                </div>
                <?php else: ?>
                <div class="row pad-bottom-large text-center">
                    <div class="row">
                        <div class="alert info">Are you sure you want to log out?</div>
                    </div>
                    <div class="row pad-top-small">
                        <div class="col col dual">
                            <a href="/home" class="btn btn-stop pull-left"><i class="fa fa-ban" aria-hidden="true"></i> No</a>
                        </div>
                        <div class="col col dual">
                            <a href="/logout/confirm" class="btn btn-go pull-right"><i class="fa fa-thumbs-up" aria-hidden="true"></i> Yes</a>
                        </div>
                    </div>
                </div>
                <?php endif ?>
            </div>
        </div>
    </div>
</main>
<?= $footer; ?>