<?= $header; ?>
<main class="main not-found-page">
    <div class="row pad-top-large pad-bottom-large">
        <div class="wrapper">
            <div class="row pad-top-large">
                <h1 class="heading-large">Oops, we couldnt find the "<?= $url; ?>" page.</h1>
                <p class="pad-top-small">Try out <a href="/search">search</a> page.</p>
            </div>
        </div>
    </div>
</main>
<?= $footer; ?>