<?= $header; ?>
<main class="main profile-page">
    <div class="row pad-top-large pad-bottom-large">
        <div class="wrapper">
            <?php if ($profile_private): ?>
            <div class="alert error"><strong>Private Profile:</strong> This user has marked their profile as private.</div>
            <?php else: ?>
            <div class="row profile">
                <h1 class="heading-small pull-left"><?= $username; ?> / <?= $country; ?></h1>
                <hr class="row space-top-small space-bottom-small">
                <div class="profile-left-panel">
                    <div class="row pad-bottom-small">
                        <div class="avatar">
                            <img src="/application/storage/uploads/account/<?= $avatar; ?>" alt="Default Avatar" class="row">
                        </div>
                    </div>
                    <?php if ($logged): ?>
                    <div class="row">
                        <button type="button" class="pull-left btn btn-default btn-pm"><i class="fa fa-comment" aria-hidden="true"></i> Message</button>
                    </div>
                    <?php endif ?>
                </div>
                <div class="profile-right-panel">
                    <div class="row">
                        <div class="col-profile-left">
                            <div class="row form-row">
                                <label for="firstname" class="label-control">Name:</label>
                            </div>
                        </div>
                        <div class="col-profile-right">
                            <div class="row form-row right">
                                <div class="profile-info"><?= $firstname; ?> <?= $lastname; ?></div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-profile-left">
                            <div class="row form-row">
                                <label for="email" class="label-control">Email:</label>
                            </div>
                        </div>
                        <div class="col-profile-right">
                            <div class="row form-row right email">
                                <div class="profile-info"><?= $email; ?></div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-profile-left">
                            <div class="row form-row">
                                <label for="birthday" class="label-control">Birthday:</label>
                            </div>
                        </div>
                        <div class="col-profile-right">
                            <div class="row form-row right birthday">
                                <div class="profile-info"><?= $birthday; ?></div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-profile-left">
                            <div class="row form-row">
                                <label for="joined" class="label-control">joined:</label>
                            </div>
                        </div>
                        <div class="col-profile-right">
                            <div class="row form-row right joined">
                                <div class="profile-info"><?= $registered; ?></div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-profile-left">
                            <div class="row form-row">
                                <label for="gender" class="label-control">Gender:</label>
                            </div>
                        </div>
                        <div class="col-profile-right">
                            <div class="row form-row right gender">
                                <div class="profile-info"><?= $gender; ?></div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-profile-left">
                            <div class="row form-row">
                                <label for="website" class="label-control">Website:</label>
                            </div>
                        </div>
                        <div class="col-profile-right">
                            <div class="row form-row right website">
                                <div class="profile-info"><?= $website; ?></div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-profile-left">
                            <div class="row form-row">
                                <label for="bio" class="label-control">Bio:</label>
                            </div>
                        </div>
                        <div class="col-profile-right">
                            <div class="row form-row">
                                <div class="profile-info bio"><?= $bio; ?></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <?php endif ?>
        </div>
    </div>
    <?php if ($logged): ?>
    <?= $pm; ?>
    <?php endif ?>
</main>
<script type="text/javascript">

$('#pm-form').validator({
    formButton : '.btn-send'
});
    
$(document).on('click', '.btn-pm', function() {
    $('.private-message').addClass('active');
});

$('#username').keydown(function(e) {
   e.preventDefault();
   return false;
});

$(document).on('click', '.btn-send', function() {
    $.ajax({
        url: '/messages/validate',
        type: 'post',
        data: $('#pm-form').serialize(),
        beforeSend: function() {
            $('.btn-send').addClass('disabled').text(' Loading...').prepend('<i class="fa fa-spinner fa-pulse fa-fw"></i>');
            $('.alert').remove();
        },
        success: function(response) {
            $('.btn-send').addClass('disabled').text(' Send').prepend('<i class="fa fa-commenting fa-fw"></i>');
            if (typeof(response) !== 'undefined') {
                console.log(response);
                $('.profile').prepend(response);
                $('.private-message').removeClass('active');
                $('#subject').val('');
                $('#message').val('');
            }
        }
    });
});

</script>
<?= $footer; ?>