<?= $header; ?>
<main class="main forgot-page">
    <div class="row pad-top-large pad-bottom-large">
        <div class="wrapper">
            <div class="col user-form text-center">
                <div class="row reset-form">
                    <?php if ($link_invalid): echo $link_invalid; endif ?>
                    <h1 class="pad-bottom-small heading-medium text-center">Reset Your Password</h1>
                    <?php if ($change_pw): ?>
                    <form id="save-form" class="row fancy-form change-pw">
                        <div class="row fancy-row space-bottom-small password">
                            <input type="hidden" name="id" value="<?= $id; ?>">
                            <label for="password">New password</label>
                            <input type="password" name="password" required id="password" class="row">
                            <div class="show-pw"><i class="fa fa-eye" aria-hidden="true"></i></div>
                        </div>
                        <div class="row fancy-row space-bottom-small confirm">
                            <label for="confirm">Repeat password</label>
                            <input type="password" name="confirm" required id="confirm" class="row">
                        </div>
                        <div class="row form-row">
                            <button type="button" class="btn btn-default btn-save row"><i class="fa fa-floppy-o" aria-hidden="true"></i> Save</button>
                        </div>  
                    </form>
                    <?php endif ?>
                    <?php if ($send_email): ?>
                    <form id="send-form" class="row fancy-form">
                        <div class="row fancy-row space-bottom-small email">
                            <label for="email">Email</label>
                            <input type="email" name="email" required id="email" class="row">
                        </div>
                        <div class="row">
                            <button type="button" class="btn btn-default btn-send row"><i class="fa fa-floppy-o" aria-hidden="true"></i> Reset Password</button>
                        </div>
                    </form>
                    <?php endif ?>
                </div>
            </div>
        </div>
    </div>
</main>
<script type="text/javascript">

$('#send-form').validator({
    formButton : '.btn-send',
    checkEmailTaken : false
});

$('.btn-send').click(function() {
    $.ajax({
        url: '/account/sendRecoveryMail',
        type: 'post',
        data: $('form').serialize(),
        beforeSend: function() {
            $('.main').append(Common.showLoader('/application/storage/images/loading.svg'));
            $('.alert').remove();
        },
        success: function(data) {
            if (typeof(data) !== 'undefined') {
                $('.loading').remove();
                $('h1').after(data);
            }
        }
    });
});
$('#send-form').keypress(function(e) {
    if(e.which == 13){//Enter key pressed
        $('.btn-send').click();//Trigger search button click event
    }
});

$('#save-form').validator({
    formButton : '.btn-save',
    checkEmailTaken : false
});

$('.btn-save').click(function() {
    $.ajax({
        url: '/account/saveResetPassword',
        type: 'post',
        data: $('form').serialize(),
        beforeSend: function() {
            $('.btn-save').addClass('disabled').text(' Loading...').prepend('<i class="fa fa-spinner fa-pulse fa-fw"></i>');
            $('.alert').remove();
        },
        success: function(data) {
            $('.btn-save').addClass('disabled').text(' Login').prepend('<i class="fa fa-floppy-o" aria-hidden="true"></i>');
            if (typeof(data) !== 'undefined') {
                $('.alert').remove();
                $('#save-form').prepend(data);
            }
        }
    });
});
$('#save-form').keypress(function(e) {
    if(e.which == 13){ //Enter key pressed
        $('.btn-save').click(); //Trigger search button click event
    }
});

</script>
<?= $footer; ?>