<?= $header; ?>
<main class="main register-page">
    <div class="row pad-top-small pad-bottom-small">
        <div class="wrapper">
            <div class="col user-form text-center">
                <div class="row signup-form">
                    <form id="signup-form" class="row fancy-form">
                        <h1 class="pad-bottom-small heading-medium text-center">Join <?= $sitename; ?></h1>
                        <div class="row fancy-row space-bottom-small username">
                            <label for="username">Username</label>
                            <input type="text" name="username" required id="username" class="row required">
                        </div>
                        <div class="row fancy-row space-bottom-small email">
                            <label for="email">Email</label>
                            <input type="email" name="email" required id="email" class="row required">
                        </div>
                        <div class="row fancy-row space-bottom-small password">
                            <label for="password">Password</label>
                            <input type="password" name="password" required id="password" class="row required">
                            <div class="show-pw"><i class="fa fa-eye" aria-hidden="true" title="Show password"></i></div>
                        </div>
                        <div class="row fancy-row space-bottom-small confirm">
                            <label for="confirm">Repeat Password</label>
                            <input type="password" name="confirm" required id="confirm" class="row required">
                        </div>
                        <div class="row space-bottom-small">
                            <button type="button" class="btn btn-default btn-go btn-signup disabled row"><i class="fa fa-pencil-square-o fa-fw" aria-hidden="true"></i> Signup</button>
                        </div>
                        <p class="text-small text-left">By signing up with <?= $sitename; ?>, you are agreeing to our <a href="/information/terms">terms of service</a> and <a href="/information/privacy">privacy policy</a>.</p>
                        <hr class="row space-top-small space-bottom-medium">
                        <div class="row space-bottom-small text-center">
                            <p class="row space-bottom-small">Already have an account?</p>
                            <a href="/login" class="btn btn-default row"><i class="fa fa-sign-in fa-fw" aria-hidden="true"></i> Login</a>
                        </div>
                        <input type="text" name="red_herring" class="red-herring">
                    </form>
                </div>
            </div>
        </div>
    </div>
</main>
<script type="text/javascript">

$('#signup-form').validator({
    formButton : '.btn-signup'
});

$(document).on('click', '.btn-signup', function() {
    $.ajax({
        url: '/signup/validate', // Validate function exists in (/root/application/controllers/account/signup.php).
        type: 'post',
        data: $('#signup-form').serialize(),
        beforeSend: function() {
            $('.btn-signup').addClass('disabled').text(' Loading...').prepend('<i class="fa fa-spinner fa-pulse fa-fw"></i>');
            $('.alert').remove();
        },
        success: function(response) {
            $('.btn-signup').addClass('disabled').text(' Signup').prepend('<i class="fa fa-pencil-square-o fa-fw"></i>');
            if (typeof(response) !== 'undefined') {
                $('h1').after(response);
            }
        }
    });
});
$('#signup-form').keypress(function(e) {
    if (e.which == 13) { //Enter key pressed
        $('.btn-signup').click(); //Trigger search button click event
    }
});

</script>
<?= $footer; ?>