<?= $header; ?>
<style type="text/css">
    .btn-welcome {
        position:relative;
        width:300px;
        height:100px;
        border:2px solid #aaa;
        background: url('https://www.ed.ac.uk/files/styles/panel_breakpoints_theme_uoe_tv_1x/public/thumbnails/image/studying-postgraduate-degree-guide-online-learning-support.jpg?itok=UBmFvPMI');
        background-size:100% 100%;
    }
    .btn-welcome::after {
        content: '';
        position: absolute;
        top:35px;
        bottom:35px;
        left:0;
        right:0;
        background: linear-gradient(to right,
            rgba(0, 0, 0, 0), 
            rgba(0, 0, 0, 0.1), 
            rgba(0, 0, 0, 0.3), 
            rgba(0, 0, 0, 0.8), 
            rgba(0, 0, 0, 1), 
            rgba(0, 0, 0, 0.8), 
            rgba(0, 0, 0, 0.3), 
            rgba(0, 0, 0, 0.1), 
            rgba(0, 0, 0, 0)
        );
        
    }
    .btn a {
        position: relative;
        color:#fff;
        z-index:999;
        line-height:100px;
    }
</style>
<div style="padding:200px;">
    <div class="row pad-top-large pad-bottom-large text-center text-large btn">
        <a href="#">TEST TEXT</a>
    </div>
</div>


<?= $footer; ?>