<?= $header; ?>
<main class="main pad-top-large pad-bottom-large text-center hr-styles-page">
    <div class="wrapper">
        <div class="row pad-top-large pad-bottom-large">
            <hr class="row basic">
        </div>
        <div class="row pad-top-large pad-bottom-large">
            <hr class="row fade">
        </div>
        <div class="row pad-top-large pad-bottom-large">
            <hr class="row curly">
        </div>
        <div class="row pad-top-large pad-bottom-large">
            <hr class="row glyph">
        </div>
        <div class="row pad-top-large pad-bottom-large">
            <hr class="row dual">
        </div>
        <div class="row pad-top-large pad-bottom-large">
            <hr class="row dual-sizable">
        </div>
        <div class="row pad-top-large pad-bottom-large">
            <hr class="row dashed">
        </div>
        <div class="row pad-top-large pad-bottom-large">
            <hr class="row dotted">
        </div>
        <div class="row pad-top-large pad-bottom-large">
            <hr class="row dashed-line">
        </div>
    </div>
</main>
<?= $footer; ?>