<?= $header; ?>
<main class="main text-center text-shadow-page">

    <div class="row pad-top-large pad-bottom-large" style="background-color:#222;">
        <h1 style="color:rgba(0, 0, 0, 0.6); text-shadow: 2px 2px 3px rgba(255,255,255,0.1); font-size:100px; font-weight:700;">Letter Press</h1>
    </div>

    <div class="row pad-top-large pad-bottom-large" style="background-color:#fff;">
        <h1 style="text-shadow: 4px 3px 0px #fff, 9px 8px 0px rgba(0,0,0,0.15); font-size:100px; font-weight:700;">Double Shadow</h1>
    </div>

    <div class="row pad-top-large pad-bottom-large" style="background-color:#fff;">
        <h1 style="text-shadow: 0px 3px 0px #b2a98f, 0px 14px 10px rgba(0,0,0,0.15), 0px 24px 2px rgba(0,0,0,0.1), 0px 34px 30px rgba(0,0,0,0.1); font-size:100px; font-weight:700;">Double - Down and Distant</h1>
    </div>

    <div class="row pad-top-large pad-bottom-large" style="background-color:#02faff;">
        <h1 style="color:#fff; text-shadow: 0px 4px 3px rgba(0,0,0,0.4), 0px 8px 13px rgba(0,0,0,0.1), 0px 18px 23px rgba(0,0,0,0.1); font-size:100px; font-weight:700;">Double - Close and Heavy</h1>
    </div>

    <div class="row pad-top-large pad-bottom-large" style="background-color:#11b4d8;">
        <h1 style="color:#fff; text-shadow: 0 1px 0 #ccc,  0 2px 0 #c9c9c9, 0 3px 0 #bbb, 0 4px 0 #b9b9b9, 0 5px 0 #aaa, 0 6px 1px rgba(0,0,0,.1), 0 0 5px rgba(0,0,0,.1), 0 1px 3px rgba(0,0,0,.3), 0 3px 5px rgba(0,0,0,.2), 0 5px 10px rgba(0,0,0,.25), 0 10px 10px rgba(0,0,0,.2), 0 20px 20px rgba(0,0,0,.15); font-size:100px; font-weight:700;">Seriuosly 3D</h1>
    </div>

    <div class="row pad-top-large pad-bottom-large" style="background-color:#7cf8ff;">
        <h1 style="color:#fff; text-shadow:-10px 10px 0px #00e6e6, -20px 20px 0px #01cccc, -30px 30px 0px #00bdbd; font-size:100px; font-weight:700;">Fancy</h1>
    </div>

    <div class="row pad-top-large pad-bottom-large" style="background-color:#7cff8f;">
        <h1 style="color:#fff; text-shadow: 0px 15px 5px rgba(0,0,0,0.1), 10px 20px 5px rgba(0,0,0,0.05), -10px 20px 5px rgba(0,0,0,0.05); font-size:100px; font-weight:700;">Multi Light</h1>
    </div>

</main>
<?= $footer; ?>