/* Pliant Page Content */
/*.page-content hr {
    float: left;
    width: 100%;
    margin: 15px 0;
}

.cke_textarea_inline .drag {
    position: absolute;
}

.page-content .slideshow {
    max-height: 363px;
    overflow: hidden;
}

.page-content .slideshow p {
    max-height: 363px;
    overflow: hidden;
}*/

.page-editor {
    position:absolute;
    top:680px;
    left:0;
    right:0;
    z-index:1000;
    overflow:hidden;
    -webkit-transition: all .3s ease-in-out;
    -ms-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out
}

.page-editor.pe-up {
    top:200px;
}

.btn-page-up {
    color:#fff;
}

.page-editor-btns {
    background-color:#fff;
    padding:40px 0 41px 0;
}

.pliant .page-content {
    float:left;
    width: 100%;
    background-color: #fff;
    word-wrap: break-word;
    text-align: left;
    /* CSS copied from frontend stylesheet.css body tag */
    color: #333; 
    font-family: 'Open Sans', Arial, Courier, Times, Helvetica, Verdana, Sans-serif; 
    font-size: 13px; 
    font-weight: 400; 
    letter-spacing: 1px
    /* End CSS copied from frontend stylesheet.css body tag */
}

.pliant .page-content .cke_textarea_inline {
    position:relative;
    float: left;
    min-height:500px;
    width: 100%;
    border: 1px dashed #ddd;
}

/* Custom Content */
.page-content {
    float:left;
    width:100%;
}

.page-content .gallery {
    width: 100%;
}

.page-content .gallery img {
    max-width: 175px;
    margin: 0 15px 0 0
}

.page-content .slick-slider {
    display: block;
}

.page-content .slideshow div {
    min-width: initial;
    display: block;
    vertical-align: initial;
}

.page-content .slideshow img {
    min-width: initial;
    display: block;
    vertical-align: initial;
    max-width: initial;
}

/* Unique Style */
.page-content .site-greeting {
    position: relative;
    background: url(../../storage/uploads/pages/Home/489898_home.jpg) no-repeat 50% 120%;
    background-size: 1920px 1080px;
    background-attachment: fixed;
    border-bottom:1px solid #000;
}

.site-greeting-overlay {
    padding: 170px 0;
    background-size: 200px 200px;
    color: rgba(255, 255, 255, 1);
    text-align: center;
}

.site-greeting-overlay h1 {
    font-size: 70px;
    font-weight: 600;
    line-height: 70px;
}

.site-greeting-overlay em {
    float: left;
    width: 100%;
    margin: 11px 0;
    font-size: 20px;
}

.homepage-content .experts {
    width: 80%;
    margin: 0 10%;
}

.homepage-content h2, .homepage-content h3 {
    font-weight: 600;
}

.btn-welcome {
    display:block;
    border:2px solid #777;
    border-radius:11px;
    -webkit-transition: all .3s ease-in-out;
    -ms-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out
}

.btn-welcome.btn-structured-cabling {
    background:url('../../storage/uploads/pages/Home/835732_structuredcabling.jpg') no-repeat 50% 50%;
    background-size:100% 100%;
}

.btn-welcome.btn-network-management {
    background:url('../../storage/uploads/pages/Home/202964_networkmanagement.jpg') no-repeat 50% 50%;
    background-size:100% 100%;
}

.btn-welcome.btn-backup-storage {
    background:url('../../storage/uploads/pages/Home/410771_backupstorage.jpg') no-repeat 50% 50%;
    background-size:100% 100%;
}

.btn-welcome.btn-email-spam {
    background:url('../../storage/uploads/pages/Home/975265_emailspam.jpg') no-repeat 50% 50%;
    background-size:100% 100%;
}

.btn-welcome::after {
    content: '';
    position: absolute;
    top:35px;
    bottom:35px;
    left:0;
    right:0;
    background: linear-gradient(to right,
        rgba(0, 0, 0, 0), 
        rgba(0, 0, 0, 0.8), 
        rgba(0, 0, 0, 1), 
        rgba(0, 0, 0, 0.8),
        rgba(0, 0, 0, 0)
    );
}

.btn-welcome span {
    position: relative;
    color:#fff;
    z-index:999;
    line-height:95px;
    font-size:15px;
    font-weight:600;
    -webkit-transition: all .3s ease-in-out;
    -ms-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out
}

.btn-welcome:hover, .btn-welcome:hover span {
    border-color:#a01f1f;
    color:#a01f1f;
}

.big-col {
    width: 70%;
    padding-right: 50px;
}

.little-col {
    width:30%;
}

.scructuredcabling-content > div {
    border-bottom:1px solid #e7e7e7;
}

.ws-banner-p2p {
    height:300px;
    background:url('../../storage/uploads/pages/Wireless Solutions/p2p.png') no-repeat 10% 50%;
    background-size:230px 300px;
}

.ws-banner-scalable {
    height:300px;
    background:url('../../storage/uploads/pages/Wireless Solutions/unifi.png') no-repeat 5% 50%;
    background-size:300px 300px;
}

.ws-banner-text {
    padding:50px 0 0 400px;
}

.wireless-info {
    position:absolute;
    top:-100%;
    bottom:100%;
    z-index: 100;
    min-height:650px;
    -webkit-transition: all .3s ease-in-out;
    -ms-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out
}

.wireless-info.show, .wireless-info.show {
    top:0;
    bottom:0;
}

.wireless-info-p2p, .wireless-info-scalable {
    display:none;
}

.wireless-info-p2p.show, .wireless-info-scalable.show {
    display:block;
}

.btn-close-wireless {
    position:absolute;
    top:50px;
    right:100px;
}