/* Footer */
.footer { float: left; width: 100%; padding: 30px 0 70px 0; background-color: #e4e4e4; border-top: 1px solid #d8d8d8; color: #555 }
.footer ul li { margin-bottom: 3px; }
.footer a, .footer a:visited { color: #a01f1f }