/* Header */
.header { z-index: 999; background-color: #fff; border-bottom: 1px solid #ddd; color: #fff; -webkit-transition: all .5s ease-in-out; -ms-transition: all .5s ease-in-out; transition: all .5s ease-in-out }
@media only screen and (max-width:414px) {
    .header { padding: 0 15px; }
}
.header-bar { background-color: #333; padding: 4px 0; font-weight: 600; }

/* Logo */
.logo { float: left; width: 139px; height: 40px; margin: 20px 0; background: url(../../storage/images/tciLogo.png) no-repeat left top; background-size: 139px 40px; }

/* Navigation */
@media only screen and (max-width:414px) {
    .nav { position: fixed; top: 0; bottom: 0; left: -250px; float: initial; width: 250px; height: 100%; padding: 10px 0; background-color: #24374c; -webkit-transition: all .5s ease-in-out; -ms-transition: all .5s ease-in-out; transition: all .5s ease-in-out }
    .nav.active { left: 0px; }
}
.nav ul li { position: relative; float: left }
@media only screen and (max-width:414px) {
    .nav ul li { width: 100%; }
}
.nav li a, .nav li a:visited { float: left; width: 100%; height: 80px; padding: 0 20px; color: #555; line-height: 80px; text-align: left; font-weight: 600; -webkit-transition: all .5s ease-in-out; -ms-transition: all .5s ease-in-out; transition: all .5s ease-in-out }
@media only screen and (max-width:414px) {
    .nav li a, .nav li a:visited { height: 70px; padding: 0 20px; line-height: 70px; }
}
.nav li a:hover, .nav li a:focus, .nav li a:active { background-color: #f1f1f1; }
.nav li a.current { border-bottom: 3px solid #a01f1f; }
.dropdown-button i { padding-right: 5px; font-family: "Font Awesome 5 Free" }
.dropdown-menu { position: absolute; top: 80px; right: 0; z-index: 999; overflow: hidden; visibility: hidden; min-width: 220px; max-height: 0px; width: auto; padding: 0; border-style: solid; border-width: 2px 1px 1px 1px; border-color: #a01f1f #aaa #aaa #aaa; background-color: #fff; -webkit-transition: all .5s ease-in-out; -ms-transition: all .5s ease-in-out; transition: all .5s ease-in-out }
@media only screen and (max-width:414px) {
    .dropdown-menu { position: relative; top: 0px; right: auto; min-width: 150px; padding: 0; }
}
.dropdown-menu.active { visibility: visible; max-height: 300px; padding: 5px 0; }
@media only screen and (max-width:414px) {
    .dropdown-menu.active { border: none; }
}
.dropdown-menu li { width: 100% }
.dropdown-menu li a { height: 40px; line-height: 40px; }
.dropdown-menu li a.current { border-bottom: none; border-right: 3px solid #a01f1f; }
.menu-button { display: none; float: right; padding: 4px 0 0 0; color: #fff; font-size: 24px; }
@media only screen and (max-width:414px) {
    .menu-button { display: block; }
}