*, *:before, *:after { margin: 0; padding: 0; box-sizing: border-box; outline: none }
html { height: 101% }
body { color: #333; font-family: 'Open Sans', Arial, Courier, Times, Helvetica, Verdana, Sans-serif; font-size: 13px; font-weight: 400; letter-spacing: 1px }

/* Image */
img { width: 100%; }

/* Text */
a, a:visited { color: #a01f1f; text-decoration: none; }
a:hover, a:focus, a:active { color: #999; }
ul, ol { list-style: outside }
ul.list-unstyled, ol.list-unstyled { list-style: none }
ul.list-style-inside, ol.list-style-inside { list-style: inside }
h1, h2, h3, h4, h5, h6 { font-family: inherit; font-weight: 600; }
.heading-small { font-size: 21px; line-height: 21px; }
.heading-medium { font-size: 28px; line-height: 28px; }
.heading-large { font-size: 36px; line-height: 36px; }
.text-center { text-align: center }
.text-left { text-align: left }
.text-right { text-align: right }
.text-underline { text-decoration: underline }
.text-small { font-size: 12px; line-height: 18px; }
.text-medium { font-size: 15px; line-height: 21px; }
.text-large { font-size: 24px; line-height: 24px; }
.text-black { color: #777 }
.text-white { color: #fff; }
.text-yellow { color: rgba(255, 214, 70, 1); }
.text-red { color: #a01f1f; }
.text-shadow-black { text-shadow: -1px 2px 1px rgba(68, 68, 68, 0.9); }
.text-shadow-red { text-shadow: -1px 2px 1px #a01f1f; }

/* Background Colors */
.bkg-black { background-color: #333 }
.bkg-white { background-color: #ffffff }
.bkg-beige { background-color: #F5F5DC }
.bkg-grey { background-color: #e6e5e5 }
.bkg-red { background-color: rgba(210, 32, 32, 1); }
.bkg-yellow { background: rgba(255, 214, 70, 1); }

/* Tables */
table { width: 100%; border-collapse: collapse }
table input { height: auto; }
th { cursor: pointer; padding: 5px 10px; background-color: #eaeaea; text-align: left }
tr:nth-child(even) { background-color: #ffffff; }
tr:nth-child(odd) { background-color: #ffffff; }
td { height: auto; padding: 4px 9px }
table, th, td { border: 1px solid #ccc }
tfoot { display: none }

/* Wrappers, Main */
.main { position: relative; float: left; width: 100%; min-height: 800px }
.wrapper { position: relative; width: 1280px; margin: auto; }
@media only screen and (max-width:1024px) {
    .wrapper { width: 95%; }
}
.row, .col { position: relative; float: left }
.row { width: 100%; }
.pull-right { float: right }
.pull-left { float: left }
.col.dual { width: 48%; margin: 0 4% 0 0; }
.col.dual:nth-child(2n+2) { margin: 0; }
@media only screen and (max-width:736px) {
    .col.dual { width: 95%; margin: 0 2.5% 50px 2.5%; }
    .col.dual:nth-child(2n+2) { margin: 0 2.5% 50px 2.5%; }
}
.col.triple { width: 31.33%; margin: 0 2.5% 0 0; }
.col.triple:nth-child(3n+3) { margin: 0; }
@media only screen and (max-width:736px) {
    .col.triple { width: 95%; margin: 0 2.5% 50px 2.5%; }
    .col.triple:nth-child(3n+3) { margin: 0 2.5% 50px 2.5%; }
}
.col.quad { width: 24%; margin: 0 1.33% 0 0; }
.col.quad:nth-child(4n+4) { margin: 0; }
@media only screen and (max-width:736px) {
    .col.quad { width: 95%; margin: 0 2.5% 50px 2.5%; }
    .col.quad:nth-child(4n+4) { margin: 0 2.5% 50px 2.5%; }
}
.col.penta { width: 19%; margin: 0 1.25% 0 0; }
.col.penta:nth-child(5n+5) { margin: 0; }
.col.hexa { width: 16%; margin: 0 0.8% 0 0; }
.col.hexa:nth-child(6n+6) { margin: 0; }
.pad-top-small { padding-top: 15px; }
.pad-bottom-small { padding-bottom: 15px; }
.pad-top-medium { padding-top: 30px; }
.pad-bottom-medium { padding-bottom: 30px; }
.pad-top-large { padding-top: 60px }
.pad-bottom-large { padding-bottom: 60px }
.space-top-small { margin-top: 15px }
.space-bottom-small { margin-bottom: 15px }
.space-top-medium { margin-top: 30px }
.space-bottom-medium { margin-bottom: 30px }
.space-top-large { margin-top: 60px }
.space-bottom-large { margin-bottom: 60px }
.pad-left-small { padding-left: 15px }
.pad-right-small { padding-right: 15px }
.pad-left-medium { padding-left: 30px }
.pad-right-medium { padding-right: 30px }
.pad-left-large { padding-left: 60px }
.pad-right-large { padding-right: 60px }
.space-left-small { margin-left: 15px }
.space-right-small { margin-right: 15px }
.space-left-medium { margin-left: 30px }
.space-right-medium { margin-right: 30px }
.space-left-large { margin-left: 60px }
.space-right-large { margin-right: 60px }
.pull-right { float: right; }
.pull-left { float: left; }

/* Horizontal Rule */
hr { border: none; border-top: 1px solid #8c8b8b; }
hr.clear { border-top: none; border-bottom: none }
hr.basic { border-top: 1px solid rgba(0, 0, 0, 0.3); border-bottom: 1px solid rgba(255, 255, 255, 0.3) }
hr.fade { border: 0; height: 1px; background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0)); }
hr.curly { height: 30px; border-style: solid; border-color: black; border-width: 1px 0 0 0; border-radius: 20px; }
hr.curly:before { display: block; content: ''; height: 30px; margin-top: -31px; border-style: solid; border-color: black; border-width: 0 0 1px 0; border-radius: 20px; }
hr.glyph { padding: 0; border: none; border-top: medium double #333; color: #333; text-align: center; }
hr.glyph:after { content: "\f1b0"; display: inline-block; position: relative; top: -0.7em; font-size: 1.5em; padding: 0 0.25em; background: white; font-family: 'Font Awesome 5 Free'; }
hr.dual { border-top: 3px double #8c8b8b; }
hr.dual-sizable:after { content: ''; display: block; margin-top: 6px; border-top: 1px solid #8c8b8b; border-bottom: 1px solid #fff; }
hr.dashed { border-top: 1px dashed #8c8b8b; }
hr.dashed-line { border: 0; border-bottom: 1px dashed #ccc; background: #999; }
hr.dotted { border-top: 1px dotted #8c8b8b; }

/* Buttons */
button { background-color: transparent; border: none; cursor: pointer; font-family: 'Open Sans'; font-size: inherit; font-weight: inherit; -webkit-appearance: none; }
.btn.disabled { pointer-events: none; opacity: 0.5; cursor: not-allowed }
.btn { display: inline-block; height: 35px; padding: 0 20px; border: none; border-radius: 4px; font-family: 'Titillium Web'; font-size: inherit; font-weight: inherit; text-align: center; vertical-align: top; line-height: 35px; -webkit-appearance: none; -webkit-transition: all .5s ease-in-out; -ms-transition: all .5s ease-in-out; transition: all .5s ease-in-out }
.btn:focus, .btn:active { outline: none }
.btn::-moz-focus-inner { border: 0 }
.btn-basic, .btn-basic:visited { background-color: #e5e5e5; background: -webkit-linear-gradient(#eee, #dedede); background: -moz-linear-gradient(#eee, #dedede); background: linear-gradient(#eee, #dedede); border: 1px solid #9f9f9f; box-shadow: inset 0 0 1px 1px #f7f7f7; color: #555; }
.btn-basic:hover { background-color: #eee; background: -webkit-linear-gradient(#dedede, #eee); background: -moz-linear-gradient(#dedede, #eee); background: linear-gradient(#dedede, #eee); color: #555; }
.btn-basic:active { box-shadow: inset 0 0 0 1px #727272, inset 0 2px 7px #505050 }
.btn-default, .btn-default:visited { background-color: #a01f1f; background: -webkit-linear-gradient(#c94040, #a01f1f); background: -moz-linear-gradient(#c94040, #a01f1f); background: linear-gradient(#c94040, #a01f1f); border: 1px solid #7D1515; box-shadow: inset 0 0 1px 1px #D47F7F; color: #fff; }
.btn-default:hover { background-color: #a01f1f; background: -webkit-linear-gradient(#a01f1f, #c94040); background: -moz-linear-gradient(#a01f1f, #c94040); background: linear-gradient(#a01f1f, #c94040); color: #fff; }
.btn-default:active { box-shadow: inset 0 0 0 1px #727272, inset 0 2px 7px #505050 }
.btn-go, .btn-go:visited { background-color: #5eb24a; border: 1px solid #4ea03b; box-shadow: inset 0 0 1px 0 #a8ed97; color: rgba(255, 255, 255, 1) }
.btn-go:hover { background-color: #58c83d; color: rgba(255, 255, 255, 1) }
.btn-go:active { box-shadow: inset 0 0 0 1px #727272, inset 0 2px 7px #505050 }
.btn-stop, .btn-stop:visited { background-color: #e75858; border: 1px solid #d24747; box-shadow: inset 0 0 1px 0 #feb3b3; color: rgba(255, 255, 255, 1) }
.btn-stop:hover { background-color: #d33838; color: rgba(255, 255, 255, 1) }
.btn-stop:active { box-shadow: inset 0 0 0 1px #727272, inset 0 2px 7px #505050 }
.btn-transparent, .btn-transparent:visited { background-color: transparent; color: #777; }
.btn-transparent:hover { background-color: transparent; color: #777; }
.btn-transparent:active { box-shadow: inset 0 0 0 1px #727272, inset 0 2px 7px #505050 }
.btn-border { border: 1px solid #ccc; }
.btn.pull-right { margin: 0 0 0 10px }
.btn.pull-left { margin: 0 10px 0 0 }

/* Forms */
label { display: inline-block; margin: 0 0 3px 0; font-size: 13px; font-weight: 600; }
label.required:after { margin-left: 3px; content: '\f069'; color: #ff0000; font-family: 'Font Awesome 5 Free'; font-size: 10px }
input, textarea, select { height: 35px; padding: 0 15px; background-color: #fff; border-radius: 4px; border: 1px solid #bbb; box-shadow: inset 0 0 5px -1px rgba(0, 0, 0, 0.3); color: #777; font-family: 'Open Sans'; font-size: inherit; font-weight: inherit; line-height: inherit; letter-spacing: inherit; -webkit-appearance: none; -webkit-transition: all .5s ease-in-out; -ms-transition: all .5s ease-in-out; transition: all .5s ease-in-out }
input[type="checkbox"] {    /*float: left;*/ }
input[type="submit"] { cursor: pointer; letter-spacing: inherit }
textarea { padding: 10px 15px 0 15px; min-height: 175px; height: auto; }
select { padding: 0px 9px; text-indent: 0px; }
.label-col, .input-col { float: left; }
.label-col label { height: 35px; line-height: 35px; }
.show-pw { position: absolute; top: 50%; right: 10px; margin: -14px 0 0 0; z-index: 777; color: #777; font-size: 18px; cursor: pointer }
.red-herring { position: absolute; width: 0; height: 0; visibility: hidden; overflow: hidden }
.fancy-form label { position: absolute; top: 8px; left: 15px; z-index: 100; display: initial; padding: 0; color: #bbb; -webkit-transition: all .5s ease-in-out; -ms-transition: all .5s ease-in-out; transition: all .5s ease-in-out }
.fancy-form label:hover { cursor: text; }
.check-col, .number-col { width: 35px; text-align: center; }

/* Alerts */
.alert { position: relative; width: 100%; padding: 10px 50px 10px 10px; margin: 0 0 15px 0; border-radius: 4px; color: #fff; font-size: 15px; text-align: left }
.alert.success { background-color: #76d769; }
.alert.error { background-color: #ff6868; }
.alert.warning { background-color: #ffd447; }
.alert.info { background-color: #68a8ff; }
.alert-inline { position: absolute; float: none; top: 125%; left: -16px; z-index: 2000; min-width: 100px; width: auto; padding: 13px 10px; background-color: #fff; border: 1px solid #777; box-shadow: 0 0 2px 1px rgba(0, 0, 0, 0.3); text-align: left; font-size: 12px }
.alert-inline { background-color: #ff6868; border-color: #ff6868; box-shadow: none; color: #fff }
.alert-inline::after { content: ''; position: absolute; top: -7px; left: 9px; width: 12px; height: 12px; background-color: #ff6868; border-top: 1px solid #ff6868; border-right: 1px solid #ff6868; -webkit-transform: rotate(-45deg); -moz-transform: rotate(-45deg); -o-transform: rotate(-45deg); transform: rotate(-45deg) }
.alert button { position: absolute; top: 0; bottom: 0; right: 0; width: 30px; color: #fff; font-size: 18px; text-align: left; }
.password-strength { position: absolute; top: 8px; left: 75px; visibility: visible; font-size: 11px; text-align: center }

/* Loading */
.loading { position: absolute; top: 0; right: 0; bottom: 0; left: 0; z-index: 888; width: 100%; height: 100%; background-color: #fff; text-align: center }
.loading-spinner { position: absolute; top: 50%; left: 50%; width: 60px; height: 60px; margin: -30px 0 0 -30px; z-index: 888; font-size: 30px; line-height: 30px; color: #777 }
.loading-spinner img { width: 100% }

/* To-top */
.to-top { position: fixed; opacity: 0; right: 20px; bottom: -100px; z-index: 888; width: 50px; height: 50px; border-radius: 50%; background: rgba(0, 0, 0, 0.7); cursor: pointer; color: #fff; text-align: center; font-size: 20px; line-height: 45px; -webkit-transition: all .5s ease-in-out; -ms-transition: all .5s ease-in-out; transition: all .5s ease-in-out }
.to-top.visible { opacity: 1; bottom: 20px; }

/* Search */
.search { position: relative; float: left; clear: left; margin: 10px 0 20px 0 }
@media only screen and (max-width:414px) {
    .search { display: none; }
}
.search input { float: left; width: 250px; border-top-right-radius: 0; border-bottom-right-radius: 0 }
.search button { float: left; border-top-left-radius: 0; border-bottom-left-radius: 0; font-family: 'Font Awesome 5 Free' }
.search-header { font-size: 24px }
.found-user, .found-user:visited { padding: 15px; margin: 0 0 20px 0; border-radius: 10px; background-color: rgba(238, 238, 238, 1); box-shadow: 0 0 2px 1px rgba(0, 0, 0, 0.3); color: #777 }
.found-user-right { float: left; width: 80%; padding-left: 10px; border-left: 1px solid #ddd }
.found-user-left img { float: left; width: 100% }
.found-user-left { float: left; width: 20% }
.found-user-left p { float: left; font-size: 18px }

/* Not Found */
.not-found-page { background: url(../../storage/images/monkey.jpg) no-repeat bottom right; }

/* Account */
.user-form { position: relative; float: left; width: 45%; margin: 7% 27.5%; }
.login-form, .signup-form, .reset-form, .resend-form { padding: 25px 35px; border-radius: 4px; background-color: #24374c; color: #fff; }
.account { float: left; width: 100% }
.account-page-links { float: right; }
.account-page-link { float: left; margin-left: 15px; }
.account-left-panel { float: left; width: 20%; text-align: center }
.account-right-panel { float: left; width: 80% }
.account .form-row.right { max-width: 50% }
.account .label-col { width: 20%; }
.account .input-col { width: 80%; }
.account .label-col span { float: left; margin: 10px 0 0 0; }
.avatar { float: left; width: 128px; height: 128px; border: 1px solid #aaa }
.avatar a { float: left; width: 100%; margin-top: 5px; text-decoration: underline }
.upload-box { position: relative; display: inline-block; vertical-align: middle; min-width: 350px; padding: 13px; margin: 25px 0 0 25px; border: 1px solid #aaa; border-radius: 5px }
.btn-upload { position: absolute; top: 7px; right: 13px }

/* Profile */
.profile-header { background-color: #eee }
.profile-left-panel { float: left; width: 15%; text-align: center }
.profile-right-panel { float: left; width: 85% }
.col-profile-left { float: left; width: 15%; padding: 0 1.5% 0 0 }
.col-profile-right { float: left; width: 85%; padding: 0 0 0 1.5% }
.profile-info { line-height: 35px }
.profile-info.bio { margin: 5px 0 0 0; line-height: 25px; }
.send-activate { color: #3498db }
.account .select-control { margin-right: 10px }
.gender-label { height: 35px; margin: 0 15px 0 0; vertical-align: top; line-height: 35px; }

/* Private Message */
.private-message { position: absolute; top: -500px; left: 50%; width: 800px; margin-top: -350px; margin-left: -400px; background-color: #fff; border-left: 1px solid #d1d1d1; border-right: 1px solid #d1d1d1; -webkit-transition: all .5s ease-in-out; -ms-transition: all .5s ease-in-out; transition: all .5s ease-in-out }
.private-message.active { top: 50%; }
.private-message-titlebar { float: left; width: 100%; margin-bottom: 20px; padding: 5px 20px; background-color: #ededed; border-top: 1px solid #d1d1d1; border-bottom: 1px solid #d1d1d1; }
.private-message-formarea { float: left; width: 100%; padding: 0 20px 20px 20px; }
.private-message textarea { min-height: 350px; }
.private-message-btnarea { float: left; width: 100%; padding: 10px 20px; background-color: #ededed; border-top: 1px solid #d1d1d1; border-bottom: 1px solid #d1d1d1; }
.message-controls { float: left; width: 15%; min-height: 250px; padding: 10px 20px; border: 1px solid #ddd; }
.message-controls a, .message-controls a:hover { float: left; width: 100%; }
.messages-wrapper .message-pane { float: left; width: 85%; min-height: 250px; margin-left: -1px; }
.messages-wrapper .message-pane tr { border-bottom: 1px solid #ddd; }
.messages-wrapper .message-pane td { border: none; padding: 5px 0; }

/* Blog */
.blog-previews .blog-column-left { float: left; width: 34% }
.blog-previews .blog-column-right { float: right; width: 64% }
.blog-previews .preview-image { max-height: 190px; overflow: hidden; }
.blog-previews .blog-body { float: left; overflow: hidden; width: 100%; height: 130px; max-height: 130px }
.blog-previews .blog-link a, .blog-previews .blog-link a:visited { margin: 15px 0 0 0; font-size: 15px; }

/* Newsletter */
.popup-box { position: fixed; z-index: 999; top: 55%; right: 50%; width: 800px; height: 500px; padding: 90px 80px; margin: -350px -400px 0 0; border: 1px solid #24374c; background-color: #fff; box-shadow: 0 0 19px 9px rgba(0, 0, 0, 0.5); text-align: center }
.popup-box h2 { margin: 10px 0 0 0 }
.popup-box p { font-size: 18px; line-height: 35px }
.popup-content { position: relative; float: left; width: 100% }
#newsletter-form input { float: left; width: 70%; border-top-right-radius: 0; border-bottom-right-radius: 0 }
#newsletter-form button { float: left; width: 30%; padding: 0 20px; border-top-left-radius: 0; border-bottom-left-radius: 0; line-height: 32px; }
.no-thanks { text-decoration: underline }
.promotion-overlay { position: fixed; top: 0; right: 0; bottom: 0; left: 0; z-index: 999; }
.no-thanks { float: left; width: 100%; text-decoration: underline; color: rgba(255, 255, 255, 1); }
.promotion-box { position: absolute; top: 50%; right: 50%; width: 800px; height: 500px; padding: 40px 40px 40px 40px; margin: -250px -400px 0 0; background: url(../../../images/promotion-bkg.jpg) no-repeat 50% 50%; background-size: 1920px 710px; box-shadow: 0 0 19px 9px rgba(0, 0, 0, 0.5); color: rgba(255, 255, 255, 1); text-align: center; }
.promotion-box h2 { margin: 10px 0 0 0; }
.promotion-box p { font-size: 18px; line-height: 35px; }
.promotion-content li { margin: 0 0 10px 0; }
.promotion-content li:before { color: rgba(255, 214, 70, 1); }